<div class="row">
    <div class="col-md-1">
        <div class="ready-point"></div>
    </div>
    <div class="col-md-11">
        <div class="row">
            <div class="col-md-2">
                <p>12/07/2021 - 20:00:04</p>
            </div>
            <div class="col-md-2">
                <p>Lina Rojas</p>
            </div>
            <div class="col-md-2">
                <p>
                90876523</p>
            </div>
            <div class="col-md-2">
                <p>Glosas sin revisar</p>
            </div>
            <div class="col-md-4">
                <p>Los soportes no corresponden ni demuestran el diagnostico de la medicion</p>
            </div>
           
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <div class="ready-point-disabled"></div>
    </div>
    <div class="col-md-11">
        <div class="row">
            <div class="col-md-2">
                <p>12/07/2021 - 20:00:04</p>
            </div>
            <div class="col-md-2">
                <p>Lina Rojas</p>
            </div>
            <div class="col-md-2">
                <p>
                90876523</p>
            </div>
            <div class="col-md-2">
                <p>Glosas sin revisar</p>
            </div>
            <div class="col-md-4">
                <p>Los soportes no corresponden ni demuestran el diagnostico de la medicion</p>
            </div>
           
        </div>
    </div>
</div>