USE [AuditCAC_Development]
GO
/****** Object:  StoredProcedure [dbo].[SP_Consulta_Hallazgos_Generados]    Script Date: 19/08/2022 1:26:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  StoredProcedure [dbo].[SP_Consulta_Hallazgos_Generados]    Script Date: 17/08/2022 1:07:11 p. m. ******/

-- =============================================
-- Author:		Victor Cuellar - IT SENSE
-- Create date: 2022-08-12
-- Description:	Consulta de registros con hallazgos pendientes para enviar a la entidad por Id de Medicion (Suministro para implementacion de Modulo de hallazgos)
-- =============================================
ALTER PROCEDURE [dbo].[SP_Consulta_Hallazgos_Generados]
	@MedicionId INT,
	@FechaInicial DATE,
	@FechaFinal DATE

AS
BEGIN
	
		-- Consulta registros primera instancia, tiene presente el rango de fecha, estado E, GRE
		SELECT
			RA.Id AS RegistroAuditoriaId,
			RA.IdRadicado AS RadicadoId,
			ES.Codigo AS CodigoEstado,
			ES.Descripción AS DescripcioneEstado,
			RAD.Id AS RegistroAuditoriaDetalleId,
			VA.idVariable AS IdVariableSISCAC,
			VA.nemonico AS Nemonico,
			itemTp.Id AS TipoVariableId,
			itemTp.ItemName AS TipoVariableNombre,
			CAST(RAD.ModifyDate AS DATE) AS FechaModificacion,
			RA.IdMedicion,
			(select TOP(3) ' OBSERVACION: ' + Observacion from RegistrosAuditoriaDetalleSeguimiento WHERE RegistroAuditoriaId = RA.Id  ORDER BY Id desc FOR XML PATH ('')) AS Observacion
		
		FROM RegistrosAuditoria RA

			INNER JOIN RegistrosAuditoriaDetalle RAD ON RA.Id = RAD.RegistrosAuditoriaId
			INNER JOIN Variables VA ON VA.Id = RAD.VariableId 
			INNER JOIN VariableXMedicion VXM ON RAD.VariableId = VXM.VariableId AND VXM.MedicionId = RA.IdMedicion
			INNER JOIN EstadosRegistroAuditoria ES ON  ES.Id = RA.Estado
			INNER JOIN Item itemTp ON itemTP.Id = VA.TipoVariableItem
		WHERE
			RA.Estado IN (  8, -- E Enviado a entidad 
							2) -- GRE Glosa en revisión por la entidad


			AND VXM.Hallazgos = 1 -- Parametrizacion de variable (Aplica para hallazgos)

			AND CAST(RA.ModifyDate AS date) BETWEEN @FechaInicial AND @FechaFinal -- Rango de Modificacion del registro a auditar

			AND MedicionId = @MedicionId
			AND RA.[Status] = 1
			AND RAD.Dato_DC_NC_ND NOT IN (32) -- DC

	UNION 

		-- Consulta registros segunda instancia, NO tiene presente el rango de fecha, estado GORE, H1E
		SELECT
			RA.Id AS RegistroAuditoriaId,
			RA.IdRadicado AS RadicadoId,
			ES.Codigo AS CodigoEstado,
			ES.Descripción AS DescripcioneEstado,
			RAD.Id AS RegistroAuditoriaDetalleId,
			VA.idVariable AS IdVariableSISCAC,
			VA.nemonico AS Nemonico,
			itemTp.Id AS TipoVariableId,
			itemTp.ItemName AS TipoVariableNombre,
			CAST(RAD.ModifyDate AS DATE) AS FechaModificacion,
			RA.IdMedicion,
			(select TOP(3) ' OBSERVACION: ' + Observacion from RegistrosAuditoriaDetalleSeguimiento WHERE RegistroAuditoriaId = RA.Id  ORDER BY Id desc FOR XML PATH ('')) AS Observacion
		
		FROM RegistrosAuditoria RA

			INNER JOIN RegistrosAuditoriaDetalle RAD ON RA.Id = RAD.RegistrosAuditoriaId
			INNER JOIN Variables VA ON VA.Id = RAD.VariableId 
			INNER JOIN VariableXMedicion VXM ON RAD.VariableId = VXM.VariableId AND VXM.MedicionId = RA.IdMedicion
			INNER JOIN EstadosRegistroAuditoria ES ON  ES.Id = RA.Estado
			INNER JOIN Item itemTp ON itemTP.Id = VA.TipoVariableItem

		WHERE
			RA.Estado IN (  4, -- GORE Glosa objetada en revisión por la entidad
							13) -- H1E Hallazgo 1 enviado a entidad
						
			AND VXM.Hallazgos = 1 -- Parametrizacion de variable (Aplica para hallazgos)

			AND MedicionId = @MedicionId
			AND RA.[Status] = 1
			AND RAD.Dato_DC_NC_ND NOT IN (32) -- DC
			
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Realiza_Cargue_Poblacion]    Script Date: 19/08/2022 1:26:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE  [dbo].[SP_Realiza_Cargue_Poblacion]    @HeaderTable DT_LLave_Valor READONLY,   @Lines DT_LLave_Valor READONLY,  @IdMedicion INT,  @User NVARCHAR(MAX),  @CurrentProcessId INT,     @ResultCurrentProcess NVARCHAR(255),  @Progreso INT,  @CantidadColumnas INT   AS BEGIN   SET NOCOUNT ON;     DECLARE @Line NVARCHAR(MAX) = ''     DECLARE @TotalLines INT = (SELECT COUNT(*) FROM @Lines)    DECLARE @PositionTotalLines INT  = (SELECT top(1) Id FROM @Lines order by Id);    DECLARE @Separador NVARCHAR(MAX) = (SELECT Valor FROM ParametrosGenerales WHERE Id = 21)     DECLARE @MessageResult NVARCHAR(MAX) = 'OK'    DECLARE @idRadiacdo INT    DECLARE @Identificacion NVARCHAR(255)    DECLARE @CountLine  INT    DECLARE @IdAuditor INT    DECLARE @LastIdRegistroAuditoria INT    DECLARE @ProgresoCargue NVARCHAR(255) = 'Medicion' + CAST(@IdMedicion AS nvarchar(255)) + ',Progreso,' + CAST(@TotalLines AS nvarchar(255))     DECLARE @ValidacionCabecera INT = 1;       DECLARE @IsHeapititis INT = 0;    DECLARE @ExsisteId INT = 0;        DELETE FROM [dbo].[CarguePoblacion_TablaVariable]        INSERT INTO CarguePoblacion_TablaVariable   SELECT vr.Id, vr.nemonico  FROM Variables vr     INNER JOIN VariableXMedicion vxm ON vr.Id = vxm.VariableId    WHERE MedicionId = @IdMedicion    EXEC @IsHeapititis = [dbo].[SP_Valida_Medicion_Hepatitis]    @MedicionId = @IdMedicion,    @RegistroAuditoriaId = 0        WHILE (@PositionTotalLines <= @TotalLines)      BEGIN          BEGIN TRY       BEGIN TRAN     DELETE FROM CarguePoblacion_TablaLinea     DBCC CHECKIDENT (CarguePoblacion_TablaLinea, RESEED, 0)     DELETE FROM CarguePoblacion_TablaUnion     DELETE FROM CarguePoblacion_TablaUnionFiltrada     DBCC CHECKIDENT (CarguePoblacion_TablaUnionFiltrada, RESEED, 0)          SET @ValidacionCabecera = 1;        UPDATE Current_Process SET Result = REPLACE(@ProgresoCargue, 'Progreso', CAST(@PositionTotalLines AS nvarchar(255))) WHERE Id = @CurrentProcessId       SET @Line = (SELECT top(1) Valor FROM @Lines WHERE Id = @PositionTotalLines)      INSERT INTO CarguePoblacion_TablaLinea SELECT CAST(value As VARCHAR(MAX)) FROM STRING_SPLIT_CUSTOM(@line, @Separador)      SET @CountLine = (SELECT COUNT(*) FROM CarguePoblacion_TablaLinea)       INSERT INTO  CarguePoblacion_TablaUnion       SELECT  h.Id, vr.VariableId, h.Valor, l.Valor, vr.nemonico  FROM @HeaderTable h          INNER JOIN CarguePoblacion_TablaLinea l ON h.Id = l.Id         LEFT JOIN CarguePoblacion_TablaVariable vr ON h.Valor = vr.nemonico        SET @IdAuditor = CAST((select Valor FROM CarguePoblacion_TablaUnion WHERE RTRIM(LTRIM(header)) = 'IdAuditor') AS INT)       INSERT INTO  CarguePoblacion_TablaUnionFiltrada       SELECT  vr.Id, h.Valor, l.Valor, vr.nemonico , vm.EsGlosa, vm.EsVisible, vm.EsCalificable, vm.SubGrupoId, vm.CalificacionXDefecto, vm.MedicionId FROM @HeaderTable h          INNER JOIN CarguePoblacion_TablaLinea l ON h.Id = l.Id         INNER JOIN Variables vr ON h.Valor = vr.nemonico          INNER JOIN VariableXMedicion vm ON vr.Id = vm.VariableId    AND vm.MedicionId = @IdMedicion       WHERE vr.idVariable IS NOT NULL  AND vm.MedicionId = @IdMedicion               IF (@CountLine <> @CantidadColumnas)         BEGIN            INSERT INTO [dbo].[Resultado_Cargue_Poblacion]([CurrentProcessId],[IdRadicado],[Tipo],[Result],[CreateDate])              VALUES                 (@CurrentProcessId                 ,@idRadiacdo                 ,'ERROR'                 ,'El registro  cuenta con ' +  CAST(@CountLine AS nvarchar(255))  + ' columnas, las necesarias son ' + CAST(@CantidadColumnas AS nvarchar(255))                  ,GETDATE())         END         ELSE         BEGIN           SET @idRadiacdo =  (SELECT TOP(1) CAST(Valor AS INT) FROM CarguePoblacion_TablaUnion where RTRIM(LTRIM(header)) = 'IdRadicado')          SET @Identificacion = (SELECT TOP(1) Valor FROM CarguePoblacion_TablaUnion WHERE RTRIM(LTRIM(header)) = 'Identificacion')             IF ( (SELECT COUNT(*) FROM [RegistrosAuditoria] WITH (NOLOCK)              WHERE IdRadicado = @idRadiacdo AND [Status] = 1  AND @IsHeapititis = 1 AND IdMedicion = @IdMedicion) > 0)           BEGIN                INSERT INTO [dbo].[Resultado_Cargue_Poblacion]([CurrentProcessId],[IdRadicado],[Tipo],[Result],[CreateDate])              VALUES                 (@CurrentProcessId                 ,@idRadiacdo                 ,'ERROR'                 ,'Ya se encuentra agregado el ID de Radicado ' + CAST(@idRadiacdo AS nvarchar(255))  + ', para la medicion '  + CAST(@IdMedicion AS nvarchar(255))                 ,GETDATE())             END           ELSE IF ( (SELECT COUNT(*) FROM [RegistrosAuditoriaDetalle] rad WITH (NOLOCK)               INNER JOIN RegistrosAuditoria ra on ra.Id = rad.RegistrosAuditoriaId                         WHERE rad.IdRadicado = @idRadiacdo AND ra.[Status] = 1 ) > 0)           BEGIN                INSERT INTO [dbo].[Resultado_Cargue_Poblacion]([CurrentProcessId],[IdRadicado],[Tipo],[Result],[CreateDate])              VALUES                 (@CurrentProcessId                 ,@idRadiacdo                 ,'ERROR'                 ,'Ya se encuentra agregado el ID de Radicado ' + CAST(@idRadiacdo AS nvarchar(255))                  ,GETDATE())             END           ELSE IF ( (SELECT COUNT(*) FROM [RegistrosAuditoria] WITH (NOLOCK) WHERE IdRadicado = @idRadiacdo AND [Status] = 1 AND @IsHeapititis = 0) > 0)           BEGIN                INSERT INTO [dbo].[Resultado_Cargue_Poblacion]([CurrentProcessId],[IdRadicado],[Tipo],[Result],[CreateDate])              VALUES                 (@CurrentProcessId                 ,@idRadiacdo                 ,'ERROR'                 ,'Ya se encuentra agregado el ID de Radicado ' + CAST(@idRadiacdo AS nvarchar(255))                  ,GETDATE())             END            ELSE IF ( (SELECT COUNT(*) FROM CarguePoblacion_TablaUnion WHERE Valor IS NULL OR REPLACE(REPLACE(Valor,' ',''),' ','') = '') > 0)           BEGIN            INSERT INTO [dbo].[Resultado_Cargue_Poblacion]([CurrentProcessId],[IdRadicado],[Tipo],[Result],[CreateDate])             VALUES              (@CurrentProcessId              ,@idRadiacdo              ,'ERROR'              ,'El DatoReportado no debe ser vacio o nulo ' + (SELECT TOP 1 header FROM CarguePoblacion_TablaUnion WHERE Valor IS NULL OR Valor = '')                ,GETDATE())           END            ELSE IF ( (SELECT COUNT(*) FROM CarguePoblacion_TablaUnionFiltrada WHERE  Idmedicion = @IdMedicion) = 0)           BEGIN             INSERT INTO [dbo].[Resultado_Cargue_Poblacion]([CurrentProcessId],[IdRadicado],[Tipo],[Result],[CreateDate])              VALUES                 (@CurrentProcessId                 ,@idRadiacdo                 ,'ERROR'                 ,'No se encuentra parametrizacion de las variables para la medicion ' + CAST(@IdMedicion AS nvarchar(255)) + ' con un nemonico valido '                 ,GETDATE())            END           ELSE IF ( (SELECT COUNT(*) FROM AUTH.Usuario where Codigo = @IdAuditor) = 0 AND (SELECT COUNT(*) FROM CarguePoblacion_TablaUnion WHERE RTRIM(LTRIM(header)) = 'IdAuditor') > 0)           BEGIN             INSERT INTO [dbo].[Resultado_Cargue_Poblacion]([CurrentProcessId],[IdRadicado],[Tipo],[Result],[CreateDate])              VALUES                 (@CurrentProcessId                 ,@idRadiacdo                 ,'ERROR'                 , 'ERROR El codigo de auditor ' + CAST(@IdAuditor AS nvarchar(255)) +  ' no es valido '                 ,GETDATE())            END          ELSE           BEGIN                          DECLARE @Subgrupo INT = (SELECT TOP(1) SubGrupoId FROM CarguePoblacion_TablaUnionFiltrada ORDER BY Id DESC)            DECLARE @NombreSubgrupo NVARCHAR(255) = (SELECT TOP(1) ItemName FROM Item WHERE Id = @Subgrupo)               IF(@IsHeapititis = 1)            BEGIN                DECLARE @TipoIdentificacion VARCHAR(2) = (SELECT TOP(1) CAST(Valor AS VARCHAR(2)) FROM CarguePoblacion_TablaUnion WHERE RTRIM(LTRIM(header)) = 'Tipo_Identificacion_Paciente');             DECLARE @IdentificacionPaciente VARCHAR(250) = (SELECT TOP(1) Valor FROM CarguePoblacion_TablaUnion WHERE RTRIM(LTRIM(header)) = 'Identificacion_Paciente');             DECLARE @EPS VARCHAR(10) = (SELECT TOP(1) CAST(Valor AS VARCHAR(30)) FROM CarguePoblacion_TablaUnion WHERE RTRIM(LTRIM(header)) = 'EPS_Encargada');             DECLARE @IdPeriodo INT = (SELECT TOP(1) CAST(Valor AS INT) FROM CarguePoblacion_TablaUnion where RTRIM(LTRIM(header)) = 'idPeriodo_Registro');                 SET @ExsisteId = ( SELECT TOP 1 (Id) FROM RegistrosAuditoria RA WHERE RA.TipoIdentificacion = @TipoIdentificacion AND RA.Identificacion = @IdentificacionPaciente AND RA.IdEPS = @EPS AND RA.IdPeriodo = @IdPeriodo AND IdMedicion = @IdMedicion  AND RA.[Status] = 1);             IF(@ExsisteId IS NOT NULL)             BEGIN              SET @LastIdRegistroAuditoria = @ExsisteId;              SET @ValidacionCabecera = 0;             END             END               IF(@IsHeapititis = 1 AND  @ValidacionCabecera = 1 AND @Subgrupo <> 105)            BEGIN                            INSERT INTO [dbo].[Resultado_Cargue_Poblacion]([CurrentProcessId],[IdRadicado],[Tipo],[Result],[CreateDate])               VALUES                  (@CurrentProcessId                  ,@idRadiacdo                  ,'ERROR'                  ,'NO se ha encontrado informacion de Estructura 1 para este registro, estructura del registro: ' + CAST(@NombreSubgrupo AS nvarchar(255))                   ,GETDATE())             END            ELSE            BEGIN               IF(@ValidacionCabecera = 1)              BEGIN               INSERT INTO [dbo].[RegistrosAuditoria]                  ([IdRadicado],[IdMedicion],[IdPeriodo],[IdAuditor],[PrimerNombre],[SegundoNombre],[PrimerApellido],[SegundoApellido],[Sexo],[TipoIdentificacion],[Identificacion],[FechaNacimiento],[FechaCreacion],[FechaAuditoria],[FechaMinConsultaAudit]                  ,[FechaMaxConsultaAudit],[FechaAsignacion],[Activo],[Conclusion],[UrlSoportes],[Reverse],[DisplayOrder],[Ara],[Eps],[FechaReverso],[AraAtendido],[EpsAtendido],[Revisar],[Extemporaneo],[Estado]                  ,[LevantarGlosa],[MantenerCalificacion],[ComiteExperto],[ComiteAdministrativo],[AccionLider],[AccionAuditor],[Encuesta],[CreatedBy],[CreatedDate],[ModifyBy],[ModifyDate],[IdEPS],[Status])                 VALUES                  ( @idRadiacdo                   , @IdMedicion                  ,(SELECT TOP(1) CAST(Valor AS INT) FROM CarguePoblacion_TablaUnion where RTRIM(LTRIM(header)) = 'idPeriodo_Registro')                  ,(SELECT TOP(1) Id FROM AUTH.Usuario where Codigo = CAST((select Valor FROM CarguePoblacion_TablaUnion WHERE RTRIM(LTRIM(header)) = 'IdAuditor') AS INT))                  ,(SELECT TOP(1) CAST(Valor AS VARCHAR(50)) FROM CarguePoblacion_TablaUnion WHERE RTRIM(LTRIM(header)) = 'Primer_Nombre_Paciente')                  ,(SELECT TOP(1) CAST(Valor AS VARCHAR(50)) FROM CarguePoblacion_TablaUnion WHERE RTRIM(LTRIM(header)) = 'Segundo_Nombre_Paciente')                  ,(SELECT TOP(1) CAST(Valor AS VARCHAR(50)) FROM CarguePoblacion_TablaUnion WHERE RTRIM(LTRIM(header)) = 'Primer_Apellido_Paciente')                  ,(SELECT TOP(1) CAST(Valor AS VARCHAR(50)) FROM CarguePoblacion_TablaUnion WHERE RTRIM(LTRIM(header)) = 'Segundo_Apellido_Paciente')                  ,(SELECT TOP(1) CAST(Valor AS VARCHAR(50)) FROM CarguePoblacion_TablaUnion WHERE RTRIM(LTRIM(header)) = 'Sexo_Paciente')                  ,(SELECT TOP(1) CAST(Valor AS VARCHAR(2)) FROM CarguePoblacion_TablaUnion WHERE RTRIM(LTRIM(header)) = 'Tipo_Identificacion_Paciente')                  ,(SELECT TOP(1) Valor FROM CarguePoblacion_TablaUnion WHERE RTRIM(LTRIM(header)) = 'Identificacion_Paciente')                  ,(SELECT TOP(1) CAST(Valor AS DATE) FROM CarguePoblacion_TablaUnion WHERE RTRIM(LTRIM(header)) = 'Fecha_Nacimiento_Paciente')                  ,GETDATE()                  ,GETDATE()                  ,NULL                  ,NULL                   ,(SELECT TOP(1) CAST(Valor AS DATE) FROM CarguePoblacion_TablaUnion WHERE RTRIM(LTRIM(header)) = 'FechaAsignacion')                   ,1                  ,1                   ,''                  ,0                  ,(SELECT TOP(1) CAST(Valor AS INT) FROM CarguePoblacion_TablaUnion WHERE RTRIM(LTRIM(header)) = 'Orden')                   ,0                   ,0                   ,GETDATE()                   ,0                  ,0                   ,0                   ,0                   ,1                  ,0                  ,0                  ,0                  ,0                  ,0                  ,0                  ,(SELECT TOP(1) CAST(Valor AS INT) FROM CarguePoblacion_TablaUnion WHERE RTRIM(LTRIM(header)) = 'Encuesta')                   ,@User                  ,GETDATE()                  ,@User                  ,GETDATE()                  ,(SELECT TOP(1) CAST(Valor AS VARCHAR(30)) FROM CarguePoblacion_TablaUnion WHERE RTRIM(LTRIM(header)) = 'EPS_Encargada')                   ,1)                   SET @LastIdRegistroAuditoria =  (SELECT SCOPE_IDENTITY());              END                                     DECLARE @position INT = 1;              DECLARE @total INT = (SELECT TOP(1) Id FROM CarguePoblacion_TablaUnionFiltrada ORDER BY Id DESC);               WHILE(@position <= @total)              BEGIN               INSERT INTO [dbo].[RegistrosAuditoriaDetalle]                  ([VariableId],[RegistrosAuditoriaId],[IdRadicado],[EstadoVariableId],[Observacion],[Activo],[CreatedBy],[CreatedDate],[ModifyBy],[ModifyDate],[EsGlosa],[Visible]                  ,[Calificable],[SubgrupoId],[DatoReportado],[MotivoVariable],[Dato_DC_NC_ND],[Ara],[Status])                SELECT                   IdVariable,                  @LastIdRegistroAuditoria,                  @idRadiacdo,                  1,                   0,                   1,                  @User,                   GETDATE(),                  @User,                  GETDATE(),                  EsGlosa,                  Visible,                  Calificable,                  SubGrupoId,                  Valor,                  NULL,                  CalificacionDefecto,                  0,                  1                          FROM  CarguePoblacion_TablaUnionFiltrada WHERE Id = @position                 AND Valor IS NOT NULL AND Valor != ''                        SET @position = @position + 1               END               INSERT INTO [dbo].[RegistrosAuditoriaDetalle]                 ([VariableId],[RegistrosAuditoriaId], [IdRadicado], [EstadoVariableId],[Observacion],[Activo],[CreatedBy],[CreatedDate],[ModifyBy],[ModifyDate],[EsGlosa],[Visible]                 ,[Calificable],[SubgrupoId],[DatoReportado],[MotivoVariable],[Dato_DC_NC_ND],[Ara],[Status])              SELECT                VA.Id,                @LastIdRegistroAuditoria,                @idRadiacdo,               1,               0,               1,               @User,               GETDATE(),               @User,                GETDATE(),               VAME.EsGlosa,                VAME.EsVisible,               VAME.EsCalificable,               VAME.SubGrupoId,               NULL,                NULL,                VAME.CalificacionXDefecto,               0,               1              FROM Variables VA               INNER JOIN VariableXMedicion VAME ON (VA.Id = VAME.VariableId)               LEFT JOIN RegistrosAuditoriaDetalle RAD ON (RAD.VariableId = VA.Id AND RAD.RegistrosAuditoriaId = @LastIdRegistroAuditoria)               WHERE VAME.MedicionId = @IdMedicion               AND RAD.VariableId IS NULL               AND VA.TipoVariableItem = 37                               SET @MessageResult = CAST(@idRadiacdo AS nvarchar(255)) + ', Registro agregado correctamente'               INSERT INTO [dbo].[Resultado_Cargue_Poblacion]([CurrentProcessId],[IdRadicado],[Tipo],[Result],[CreateDate])               VALUES                (@CurrentProcessId                ,@idRadiacdo                 ,'OK'                , @MessageResult                ,GETDATE())            END                                      END           END                     COMMIT TRAN         END TRY           BEGIN CATCH            ROLLBACK TRAN        set @MessageResult = CAST(@idRadiacdo AS nvarchar(255)) + + ', ' + ERROR_MESSAGE() + '- SP LINEA: ' + CAST(ERROR_LINE() AS nvarchar(255));         INSERT INTO [dbo].[Resultado_Cargue_Poblacion]([CurrentProcessId],[IdRadicado],[Tipo],[Result],[CreateDate])            VALUES              (@CurrentProcessId              , @idRadiacdo               ,'ERROR'              ,@MessageResult              ,GETDATE())        END CATCH       SET @PositionTotalLines = @PositionTotalLines + 1           END     EXEC SP_Insertar_Process_Log 4, @User, 'OK', 'Gestor Mediciones: Cargue población';      END 
GO
/****** Object:  StoredProcedure [dbo].[SP_Registra_Respuesta_Hallazgos]    Script Date: 19/08/2022 1:26:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Victor Cuellar - IT SENSE
-- Create date: 2022-08-12
-- Description:	Registra respuestas de las entidades sobre los hallazgos
-- =============================================
ALTER PROCEDURE [dbo].[SP_Registra_Respuesta_Hallazgos]
	-- Add the parameters for the stored procedure here
	@InputData DT_Registrar_Respuesta_Hallazgos READONLY
AS
BEGIN
	


	-- Declara tabla temporal para tomar Header Id
	DECLARE @HallazgosTemp TABLE 
	(
		Id INT IDENTITY(1,1) PRIMARY KEY,
		RegistroAuditoriaId INT,
		RegistrosAuditoriaDetalleId int NULL,
		Observacion varchar(500) NULL,
		Estado int NULL,
		CreatedBy varchar(450) NULL,
		CreatedDate datetime NULL,
		ModifyBy varchar(450) NULL,
		ModifyDate datetime NULL,
		[Status] bit NULL,
		Dato_DC_NC_ND int NULL
	)



	-- Inserta Hallazgo Temp
	INSERT INTO @HallazgosTemp
	SELECT 
			RA.Id,
			INPUT.RegistroAuditoriaDetalleId,
			INPUT.Observacion,
			INPUT.Estado,
			INPUT.Usuario,
			GETDATE(),
			INPUT.Usuario,
			GETDATE(),
			1,
			RAD.Dato_DC_NC_ND
	
	FROM @InputData INPUT
		INNER JOIN RegistrosAuditoriaDetalle RAD ON RAD.Id = INPUT.RegistroAuditoriaDetalleId
		INNER JOIN RegistrosAuditoria RA ON RAD.RegistrosAuditoriaId = RA.Id
	WHERE RA.[Status] = 1


	-- Inserta Hallazgos DB
	INSERT INTO Hallazgos
	SELECT 
		   RegistrosAuditoriaDetalleId
		  ,Observacion
		  ,Estado
		  ,CreatedBy
		  ,CreatedDate
		  ,ModifyBy
		  ,ModifyDate
		  ,Status
		  ,Dato_DC_NC_ND
	FROM  @HallazgosTemp

	-- Declara Tabla para agrupar Header Id
	DECLARE @HeaderGrouped TABLE 
	(
		Id INT IDENTITY(1,1) PRIMARY KEY,
		RegistroAuditoriaId INT
	)

	-- Inserta info data agrupada
	INSERT INTO @HeaderGrouped
	SELECT  RegistroAuditoriaId FROM @HallazgosTemp GROUP BY RegistroAuditoriaId ORDER BY RegistroAuditoriaId


	----------------------------------------------------------------------------------------------------------------------
	-- RECORRE AGRUPACION PARA CAMBIAR EL ESTADO DE REGISTRO AUDITORIA
	----------------------------------------------------------------------------------------------------------------------

	-- VARIABLES
	DECLARE @TotalRecord INT = (SELECT COUNT(*) FROM @HeaderGrouped)
	DECLARE @Position INT  = (SELECT top(1) Id FROM @HeaderGrouped order by Id);
	DECLARE @UsuarioRecord NVARCHAR(255)
	DECLARE @Resultado NVARCHAR(255)
	DECLARE @Message NVARCHAR(255)

	DECLARE @RegistroAuditoriaRecord NVARCHAR(255)
	DECLARE @CountPendienteRespuesta INT
	DECLARE @CountAcepta INT
	DECLARE @CountNoAcepta INT
	DECLARE @CountSilencioAdministrativo INT
	DECLARE @EstadoActual INT
	DECLARE @EstadoNuevo INT
	DECLARE @NombreEstado NVARCHAR(255);
	DECLARE @NombreNuevoEstado NVARCHAR(255);
	DECLARE @Observacion NVARCHAR(1024) = '';
	DECLARE @TipoObservacion  INT = (SELECT Id FROM  Item where ItemName = 'Cambio de estado' AND CatalogId = 1)

	WHILE (@Position <= @TotalRecord)
	 BEGIN
		
			BEGIN TRY

				BEGIN TRAN

					
					-- INICIA PROCESO REGISTRO ------------------------------------------------------------------------------------

					SET @RegistroAuditoriaRecord = (SELECT TOP(1) RegistroAuditoriaId FROM @HeaderGrouped WHERE Id = @Position)
					SET @EstadoActual = (SELECT TOP(1) Estado FROM RegistrosAuditoria WHERE Id = @RegistroAuditoriaRecord)
					SET @UsuarioRecord = (SELECT TOP(1) CreatedBy FROM @HallazgosTemp WHERE RegistroAuditoriaId = @RegistroAuditoriaRecord ) 

					-- COUNT Respuestas
					SET @CountAcepta = (SELECT COUNT(*) FROM @HallazgosTemp WHERE RegistroAuditoriaId = @RegistroAuditoriaRecord AND Estado = 96 ) -- Acepta
					SET @CountNoAcepta = (SELECT COUNT(*) FROM @HallazgosTemp WHERE RegistroAuditoriaId = @RegistroAuditoriaRecord AND Estado = 97 ) -- No Acepta
					SET @CountSilencioAdministrativo = (SELECT COUNT(*) FROM @HallazgosTemp WHERE RegistroAuditoriaId = @RegistroAuditoriaRecord AND Estado = 98 ) -- Silencio Administrativo


					-- Validaciones para estado Nuevo (SELECT * FROM EstadosRegistroAuditoria)

					-- E => H1 Cuando algun de los los hallazgos tiene estado No Acepta
					IF @EstadoActual = 8 AND @CountNoAcepta > 0
					BEGIN
						SET @EstadoNuevo = 12 -- H1
					END

					-- E= > RC Cuando todos los hallazgos los acepta la entidad o si algun hallazgo tiene silencio administrativo
					ELSE IF @EstadoActual = 8 AND (@CountNoAcepta = 0 OR @CountSilencioAdministrativo > 0)
					BEGIN
						SET @EstadoNuevo = 16 -- RC
					END

					-- GRE => GO1, Cuando alguno de los estados de hallazgo es no acepta
					ELSE IF @EstadoActual = 2 AND @CountNoAcepta > 0
					BEGIN
						SET @EstadoNuevo = 3 -- GO1
					END

					-- GRE => RC Cuando todos los hallazgos los acepta la entidad o si algun hallazgo tiene silencio administrativo
					ELSE IF @EstadoActual = 2 AND (@CountNoAcepta = 0 OR @CountSilencioAdministrativo > 0)
					BEGIN
						SET @EstadoNuevo = 16 -- RC
					END

					-- GORE => GO2, Cuando alguno de los estados de hallazgo es no acepta
					ELSE IF @EstadoActual = 4 AND @CountNoAcepta > 0
					BEGIN
						SET @EstadoNuevo = 5 -- GO2
					END

					-- GORE => RC Cuando todos los hallazgos los acepta la entidad o si algun hallazgo tiene silencio administrativo
					ELSE IF @EstadoActual = 4 AND (@CountNoAcepta = 0 OR @CountSilencioAdministrativo > 0)
					BEGIN
						SET @EstadoNuevo = 16 -- RC
					END

					--H1E => H2L , Cuando no hay ninguno con silencio administrativo
					ELSE IF @EstadoActual = 13 AND (@CountSilencioAdministrativo = 0)
					BEGIN
						SET @EstadoNuevo = 14 -- H2L
					END

					-- H1E => RC Cuando hay silencio administrativo
					ELSE IF @EstadoActual = 13 AND (@CountSilencioAdministrativo = 0)
					BEGIN
						SET @EstadoNuevo = 16 -- RC
					END


					--Consulta nombres de estado
				 SET @NombreEstado = ( SELECT Nombre FROM EstadosRegistroAuditoria WHERE Id = @EstadoActual)
				 SET @NombreNuevoEstado = ( SELECT Nombre FROM EstadosRegistroAuditoria WHERE Id = @EstadoNuevo)
				 SET @Observacion = 'Cambio de estado ' + @NombreEstado + ' a ' + @NombreNuevoEstado

				 -- Actualiza RegistrosAuditoria
				UPDATE RegistrosAuditoria SET Estado = @EstadoNuevo, ModifyBy = @UsuarioRecord, ModifyDate = GETDATE() WHERE Id = @RegistroAuditoriaRecord

				-- Registra seguimiento
				INSERT INTO [dbo].[RegistrosAuditoriaDetalleSeguimiento]([RegistroAuditoriaId],[TipoObservacion],[Observacion],[Soporte],[EstadoActual]
						   ,[EstadoNuevo],[CreatedBy],[CreatedDate],[ModifyBy],[ModifyDate],[Status])
					 VALUES(@RegistroAuditoriaRecord,@TipoObservacion,@Observacion,0,@EstadoActual,@EstadoNuevo,@UsuarioRecord,GETDATE(),@UsuarioRecord,GETDATE(),1)

				-- Registra Log Auditoria (RegistroAuditoriaLog)
				INSERT INTO [dbo].[RegistroAuditoriaLog] ([RegistroAuditoriaId], [Proceso], [Observacion], [EstadoAnterioId], [EstadoActual], [AsignadoA], [AsingadoPor], [CreatedBy], [CreatedDate], [ModifyBy], [ModificationDate], [Status])
				VALUES(@RegistroAuditoriaRecord, 'Cambio de estado.', @Observacion, @EstadoActual, @EstadoNuevo, @UsuarioRecord, @UsuarioRecord, @UsuarioRecord, GETDATE(), @UsuarioRecord, GETDATE(), 1)
		

				-- Insertamos Log de operacion. 
				DECLARE @IdRadicado INT = (SELECT IdRadicado FROM RegistrosAuditoria WHERE Id = @RegistroAuditoriaRecord);
				DECLARE @LogObservation VARCHAR(255) = 'Cronograma: Auditar (Cambio de estado). Radicado: ' + CAST(@IdRadicado AS nvarchar(255)) + ': ' + @Observacion;
	
				SET @Message =  CAST(@RegistroAuditoriaRecord AS NVARCHAR(255)) +', RegistroAuditoriaId Proceso Correcto'
				SET @Resultado =  'OK'

					-- FINALIZA PROCESO REGISTRO ----------------------------------------------------------------------------------
				COMMIT TRAN	

			END TRY

			BEGIN CATCH
				ROLLBACK TRAN	

				set @Message = CAST(@RegistroAuditoriaRecord AS nvarchar(255)) + + ', RegistroAuditoriaId ' + ERROR_MESSAGE() + '- SP LINEA: ' + CAST(ERROR_LINE() AS nvarchar(255));
				SET @Resultado =  'ERROR'

			END CATCH
				
			 -- Registra Log 
			EXEC SP_Insertar_Process_Log 511, @UsuarioRecord, @Resultado, @Message;


			SET @Position = @Position + 1
		
	 END -- END WHILE


END
GO
/****** Object:  StoredProcedure [dbo].[SP_Valida_Errores]    Script Date: 19/08/2022 1:26:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		IT SENSE - Victor Cuellar
-- Create date: 2022-04-19
-- Description:	Valida los errores por Id de Regla y Id Registro auditoria detalle
-- =============================================
ALTER PROCEDURE [dbo].[SP_Valida_Errores] 
	-- Add the parameters for the stored procedure here
	 @RegistroAuditoria INT,
     @User NVARCHAR(MAX)
AS

	
BEGIN

	DECLARE @ValidaErrorTipoA NVARCHAR(255) =   (SELECT Valor FROM ParametrosGenerales WHERE Nombre = 'ValidarErroesTipoA')
	DECLARE @ValidaErrorTipoB NVARCHAR(255) =   (SELECT Valor FROM ParametrosGenerales WHERE Nombre = 'ValidarErroesTipoB')
	DECLARE @Medicion INT = (SELECT IdMedicion FROM RegistrosAuditoria WHERE Id = @RegistroAuditoria)
	DECLARE @Cobertura INT = (SELECT IdCobertura FROM Medicion WHERE Id = @Medicion)
	

	-- Crea tabla resultado
	DECLARE @ResultData TABLE 
	(
		Id INT IDENTITY(1,1) PRIMARY KEY,
		IdRegistroAuditoriaDetalle INT,
		IdT INT, 
		Result BIT, 
		Obligatoria BIT,
		Sentencia NVARCHAR(MAX), 
		VariableId INT, 
		IdRegla INT, 
		IdRestriccion INT, 
		IdError NVARCHAR(255),
		DescripcionError NVARCHAR(MAX),
		ResultGroup BIT
	)

	-- Condicion para validar errroes tipo B
	IF (@ValidaErrorTipoB = 'true')
	BEGIN

			-- Crea tabla temporal
			DECLARE @ResultDataTemp TABLE 
				(
					Result BIT
				)


			-- Crea tabla temporal para consulta
			DECLARE @TableData TABLE (
				Id INT IDENTITY(1,1) PRIMARY KEY,
				IdRegistroAuditoriaDetalle INT,
				IdRegla INT, 
				idRestriccion INT,
				idError NVARCHAR(255),
				IdVariable INT,
				descripcion NVARCHAR(1024),
				TipoVariable1 NVARCHAR(255),
				Variable1  NVARCHAR(1024),
				idSignoComparacion NVARCHAR(255),
				idCompararCon INT, 
				Variable2  NVARCHAR(1024) NULL,
				valorEspecifico sql_variant NULL,
				TipoVariable3 NVARCHAR(255) NULL,
				Variable3  NVARCHAR(1024) NULL,
				idSignoComparacionAsociada NVARCHAR(255) NULL,
				idCompararConAsociada INT NULL,
				Variable4  NVARCHAR(1024) NULL,
				valorEspecificoAsociada sql_variant NULL
				)

			-- Inserta data de parametrizacion de las reglas a la tabla temporal
			INSERT INTO @TableData

			SELECT 
		
				rad.Id,
				rc.idRegla,
				rc.idRestriccionConsistencia,
				rg.idError,
				rad.VariableId,
				er.descripcion AS DescripcionError,
				v.idTipoVariable AS TipoVariable1,
				CASE WHEN rad.MotivoVariable IS NULL OR rad.MotivoVariable = '' THEN rad.DatoReportado ELSE rad.MotivoVariable END AS Variable1,
				rc.idSignoComparacion,
				rc.idCompararCon,
				CASE WHEN rad2.MotivoVariable IS NULL OR rad2.MotivoVariable = '' THEN rad2.DatoReportado ELSE rad2.MotivoVariable END AS Variable2,
				rc.valorEspecifico,
				v3.idTipoVariable AS TipoVariable3,
				CASE WHEN rad3.MotivoVariable IS NULL OR rad3.MotivoVariable = '' THEN rad3.DatoReportado ELSE rad3.MotivoVariable END AS Variable3,
				rc.idSignoComparacionAsociada,
				rc.idCompararConAsociada,
				CASE WHEN rad4.MotivoVariable IS NULL OR rad4.MotivoVariable = '' THEN rad4.DatoReportado ELSE rad4.MotivoVariable END AS Variable4,
				rc.valorEspecificoAsociada

				FROM RegistrosAuditoriaDetalle rad

					-- Variable 1 (Sentencia 1)
					INNER JOIN RegistrosAuditoria ra ON ra.Id = rad.RegistrosAuditoriaId
					INNER JOIN Medicion m ON m.Id = ra.IdMedicion
					INNER JOIN Variables v ON v.id = rad.VariableId
					INNER JOIN Regla rg ON rg.idVariable = v.idVariable
					INNER JOIN CoberturaError ce ON rg.idCobertura = ce.idCobertura 
													AND rg.idError = ce.idError
													AND m.IdCobertura = ce.idCobertura
					INNER JOIN ErrorRegla er ON er.idError = rg.IdError
					INNER JOIN RestriccionesConsistencia rc ON rc.idRegla = rg.idRegla
					INNER JOIN VariableXMedicion vmx ON vmx.VariableId = v.Id AND vmx.MedicionId = ra.IdMedicion

					-- Varaible  2 (Sentencia 1) 
					LEFT JOIN Variables v2 ON v2.idVariable = rc.idVariableComparacion
					LEFT JOIN RegistrosAuditoriaDetalle rad2 ON rad2.RegistrosAuditoriaId = rad.RegistrosAuditoriaId AND rad2.VariableId = v2.Id  AND rad.IdRadicado = rad2.IdRadicado

					-- Varaible  3 (Sentencia 2) 
					LEFT JOIN Variables v3 ON v3.idVariable = rc.idVariableAsociada
					LEFT JOIN RegistrosAuditoriaDetalle rad3 ON rad3.RegistrosAuditoriaId = rad.RegistrosAuditoriaId AND rad3.VariableId = v3.Id

					-- Varaible  4 (Sentencia 2) 
					LEFT JOIN Variables v4 ON v4.idVariable = rc.idVariableComparacionAsociada
					LEFT JOIN RegistrosAuditoriaDetalle rad4 ON rad4.RegistrosAuditoriaId = rad.RegistrosAuditoriaId AND rad4.VariableId = v4.Id  AND rad3.IdRadicado = rad4.IdRadicado

				WHERE 
	
					rad.RegistrosAuditoriaId = @RegistroAuditoria
					AND rg.habilitado = 1
					AND vmx.EsCalificable = 1 
					AND vmx.MedicionId = @Medicion
					AND rad.Dato_DC_NC_ND <> 34 -- Para que no tenga encuenta errores cuando la calificacion es ND
				--	AND v.Id = 2389   --2239 AND rg.idRegla in ( 18479,18480)  -- Todo test
				ORDER BY rad.VariableId, idRegla

				-- Recorre sentencias consultadas
				DECLARE @position INT = 1;
				DECLARE @total INT = (SELECT TOP(1) Id FROM @TableData ORDER BY Id DESC);


				WHILE(@position <= @total)

					BEGIN

						DELETE FROM @ResultDataTemp  -- Limpia tabla temporal

						-- Sentencia 1 de la restriccion ------------------------------------------------------------------------
						DECLARE @ScriptComparacion1 NVARCHAR(MAX) = 'IF (Sentencia) BEGIN SELECT 1 END  ELSE BEGIN SELECT 0 END'
						DECLARE @Comparacion1 NVARCHAR(MAX)

				

						-- Ejecuta Validacion y la guarda en tabla temporal
							BEGIN TRY  
							
									-- Construye script de sentencia a ejecutar


									IF (
										((SELECT TipoVariable1 FROM @TableData WHERE Id = @position) = 'int') OR
										((SELECT TipoVariable1 FROM @TableData WHERE Id = @position) = 'intEDT') OR
										((SELECT TipoVariable1 FROM @TableData WHERE Id = @position) = 'numeric') 
										)

										BEGIN
										 --DECIMAL(15,2)
											SET @Comparacion1
												= (SELECT 
													'CAST(' +   '''' +  LTRIM(RTRIM(Variable1)) + '''' + 'AS DECIMAL(15,2)) ' 
													+ ' ' + LTRIM(RTRIM(idSignoComparacion))  + ' ' + 

													CASE WHEN idCompararCon = 2 
														THEN 'CAST(' +  '''' + LTRIM(RTRIM(CAST(valorEspecifico AS NVARCHAR(MAX))))  + ''''  + ' AS DECIMAL(15,2)) ' 
														ELSE 'CAST(' + '''' + LTRIM(RTRIM(CAST(Variable2 AS NVARCHAR(MAX))))  + '''' + ' AS DECIMAL(15,2)) ' 
													END AS Variable2 
												FROM @TableData WHERE Id = @position)
						
										END
									ELSE IF
									 ((SELECT TipoVariable1 FROM @TableData WHERE Id = @position) = 'datetime')

										BEGIN

											-- Consulta Variable 1 para generar el formato correcto de fecha
											DECLARE @Variable1 NVARCHAR(255) = (SELECT  Variable1 FROM @TableData WHERE Id = @position)

											IF CHARINDEX('/',@Variable1) > 0
											BEGIN
												EXEC [dbo].SP_Replace_Fecha_ErroresLogica @Input = @Variable1, @OutputDate = @Variable1 OUTPUT;  
											END
											-- Consulta Variable 2 para generar el formato correcto de fecha
											DECLARE @Variable2 NVARCHAR(255) = (SELECT  Variable2 FROM @TableData WHERE Id = @position)

											IF CHARINDEX('/',@Variable2) > 0
											BEGIN
												EXEC [dbo].SP_Replace_Fecha_ErroresLogica @Input = @Variable2, @OutputDate = @Variable2 OUTPUT;  
											END

											-- Consulta Valor especifico  para generar el formato correcto de fecha
											DECLARE @valorEspecifico NVARCHAR(255) = (SELECT  CAST(valorEspecifico AS NVARCHAR(MAX)) FROM @TableData WHERE Id = @position)

											IF CHARINDEX('/',@valorEspecifico) > 0
											BEGIN
												EXEC [dbo].SP_Replace_Fecha_ErroresLogica @Input = @valorEspecifico, @OutputDate = @valorEspecifico OUTPUT;
											END


											-- Consturye sentencia para comparar
											SET @Comparacion1
												= (SELECT 
													'CAST(' +   '''' +  LTRIM(RTRIM(@Variable1)) + '''' + 'AS DATE) ' 
													+ ' ' + LTRIM(RTRIM(idSignoComparacion))  + ' ' + 

													CASE WHEN idCompararCon = 2 
														THEN 'CAST(' +  '''' + LTRIM(RTRIM(CAST(@valorEspecifico AS NVARCHAR(MAX))))  + ''''  + ' AS DATE) ' 
														ELSE 'CAST(' + '''' + LTRIM(RTRIM(CAST(@Variable2 AS NVARCHAR(MAX))))  + '''' + ' AS DATE) ' 
													END AS Variable2 
												FROM @TableData WHERE Id = @position)
						
										END

										ELSE
											BEGIN
												SET @Comparacion1	
													= (SELECT 
														'''' +  LTRIM(RTRIM(Variable1)) + '''' + 
														+ ' ' + LTRIM(RTRIM(idSignoComparacion))  + ' ' +

														CASE WHEN idCompararCon = 2 
															THEN '''' + LTRIM(RTRIM(CAST(valorEspecifico AS NVARCHAR(MAX))))  + '''' 
															ELSE '''' + LTRIM(RTRIM(CAST(Variable2 AS NVARCHAR(MAX))))  + '''' 
														END AS Variable2 
													FROM @TableData WHERE Id = @position)
											END

				
			
									-- Replace script completo de validacion
									DECLARE @ScriptComparacionCompleto NVARCHAR(MAX) = REPLACE(@ScriptComparacion1, 'Sentencia', @Comparacion1) 	

									INSERT @ResultDataTemp  EXEC (@ScriptComparacionCompleto)


							END TRY 
		
							BEGIN CATCH  

									SET @Comparacion1	
										= (SELECT 
											'''' +  LTRIM(RTRIM(Variable1)) + '''' + 
											+ ' ' + LTRIM(RTRIM(idSignoComparacion))  + ' ' +

											CASE WHEN idCompararCon = 2 
												THEN '''' + LTRIM(RTRIM(CAST(valorEspecifico AS NVARCHAR(MAX))))  + '''' 
												ELSE '''' + LTRIM(RTRIM(CAST(Variable2 AS NVARCHAR(MAX))))  + '''' 
											END AS Variable2 
										FROM @TableData WHERE Id = @position)

									SET @ScriptComparacionCompleto = REPLACE(@ScriptComparacion1, 'Sentencia', @Comparacion1) 

									INSERT @ResultDataTemp  EXEC (@ScriptComparacionCompleto)			
							END CATCH

						-- Guarda en tabla resultado	
						DECLARE  @RowSentencia NVARCHAR(MAX) = REPLACE(REPLACE(REPLACE(@Comparacion1,'CAST(',''),'AS DECIMAL(15,2))',''),'AS DATE)','')


						IF @RowSentencia IS NOT NULL
						BEGIN 
					
							INSERT INTO @ResultData
							VALUES
								(
								(SELECT IdRegistroAuditoriaDetalle FROM @TableData WHERE Id = @position),
								@position,
								(SELECT TOP(1) Result FROM @ResultDataTemp),
								CASE WHEN (SELECT idSignoComparacionAsociada FROM @TableData WHERE Id = @position ) IS NULL THEN 1 ELSE 0 END,
								@RowSentencia,
								(SELECT IdVariable FROM @TableData WHERE Id = @position),
								(SELECT IdRegla FROM @TableData WHERE Id = @position),
								(SELECT idRestriccion FROM @TableData WHERE Id = @position),
								(SELECT idError FROM @TableData WHERE Id = @position),
								(SELECT descripcion FROM @TableData WHERE Id = @position),
								0
							)
					
						END
			
						-- Sentencia 2 de la restriccion ------------------------------------------------------------------------
						IF (
						(SELECT idSignoComparacionAsociada FROM @TableData WHERE Id = @position ) IS NOT NULL
						AND 
						(SELECT Result FROM @ResultDataTemp) = 1)

						BEGIN
							DELETE FROM @ResultDataTemp -- Limpia tabla temporal
							DECLARE @ScriptComparacion2 NVARCHAR(MAX) = 'IF (Sentencia) BEGIN SELECT 1 END  ELSE BEGIN SELECT 0 END'
							DECLARE @Comparacion2 NVARCHAR(MAX)

							-- DELETE FROM @ResultDataTemp

					

							---- Ejecuta Validacion y la guarda en tabla temporal
							BEGIN TRY  

									-- Construye script de sentencia a ejecutar
									IF (
										((SELECT TipoVariable3 FROM @TableData WHERE Id = @position) = 'int') OR
										((SELECT TipoVariable3 FROM @TableData WHERE Id = @position) = 'intEDT') OR
										((SELECT TipoVariable3 FROM @TableData WHERE Id = @position) = 'numeric') 
									)
									BEGIN
											SET @Comparacion2
												= (SELECT 
													'CAST(' +   '''' +  LTRIM(RTRIM(Variable3)) + '''' + 'AS DECIMAL(15,2)) ' 
													+ ' ' + LTRIM(RTRIM(idSignoComparacionAsociada))  + ' ' + 

													CASE WHEN idCompararConAsociada = 2 
														THEN 'CAST(' +  '''' + LTRIM(RTRIM(CAST(valorEspecificoAsociada AS NVARCHAR(MAX))))  + ''''  + ' AS DECIMAL(15,2)) ' 
														ELSE 'CAST(' + '''' + LTRIM(RTRIM(CAST(Variable4 AS NVARCHAR(MAX))))  + '''' + ' AS DECIMAL(15,2)) ' 
													END AS Variable2 
												FROM @TableData WHERE Id = @position)
									END
									ELSE IF
								 ((SELECT TipoVariable3 FROM @TableData WHERE Id = @position) = 'datetime')

									BEGIN
										-- Consulta Variable 1 para generar el formato correcto de fecha
										DECLARE @Variable3 NVARCHAR(255) = (SELECT  Variable3 FROM @TableData WHERE Id = @position)

										IF CHARINDEX('/',@Variable3) > 0
										BEGIN
											EXEC [dbo].SP_Replace_Fecha_ErroresLogica @Input = @Variable3, @OutputDate = @Variable3 OUTPUT;
										END

										-- Consulta Variable 2 para generar el formato correcto de fecha
										DECLARE @Variable4 NVARCHAR(255) = (SELECT  Variable4 FROM @TableData WHERE Id = @position)

										IF CHARINDEX('/',@Variable4) > 0
										BEGIN
											EXEC [dbo].SP_Replace_Fecha_ErroresLogica @Input = @Variable4, @OutputDate = @Variable4 OUTPUT;
										END

										-- Consulta Valor especifico  para generar el formato correcto de fecha
										DECLARE @valorEspecificoAsociada NVARCHAR(255) = (SELECT  CAST(valorEspecificoAsociada AS NVARCHAR(MAX))  FROM @TableData WHERE Id = @position)

										IF CHARINDEX('/',@valorEspecificoAsociada) > 0
										BEGIN
											EXEC [dbo].SP_Replace_Fecha_ErroresLogica @Input = @valorEspecificoAsociada, @OutputDate = @valorEspecificoAsociada OUTPUT;
										END


										-- Consturye sentencia para comparar
										SET @Comparacion2
											= (SELECT 
												'CAST(' +   '''' +  LTRIM(RTRIM(@Variable3)) + '''' + 'AS DATE) ' 
												+ ' ' + LTRIM(RTRIM(idSignoComparacionAsociada))  + ' ' + 

												CASE WHEN idCompararConAsociada = 2 
													THEN 'CAST(' +  '''' + LTRIM(RTRIM(CAST(@valorEspecificoAsociada AS NVARCHAR(MAX))))  + ''''  + ' AS DATE) ' 
													ELSE 'CAST(' + '''' + LTRIM(RTRIM(CAST(@Variable4 AS NVARCHAR(MAX))))  + '''' + ' AS DATE) ' 
												END AS Variable2 
											FROM @TableData WHERE Id = @position)
						
									END
									ELSE
										BEGIN
											SET @Comparacion2	
												= (SELECT 
													'''' +  LTRIM(RTRIM(Variable3)) + '''' + 
													+ ' ' + LTRIM(RTRIM(idSignoComparacionAsociada))  + ' ' +

													CASE WHEN idCompararConAsociada = 2 
														THEN '''' + LTRIM(RTRIM(CAST(valorEspecificoAsociada AS NVARCHAR(MAX))))  + '''' 
														ELSE '''' + LTRIM(RTRIM(CAST(Variable4 AS NVARCHAR(MAX))))  + '''' 
													END AS Variable2 
												FROM @TableData WHERE Id = @position)
										END

					
			
									-- Replace script completo de validacion
									DECLARE @ScriptComparacionCompleto2 NVARCHAR(MAX) = REPLACE(@ScriptComparacion2, 'Sentencia', @Comparacion2) 
									INSERT @ResultDataTemp  EXEC (@ScriptComparacionCompleto2)


							END TRY 
		
							BEGIN CATCH  

									SET @Comparacion2	
										= (SELECT 
											'''' +  LTRIM(RTRIM(Variable3)) + '''' + 
											+ ' ' + LTRIM(RTRIM(idSignoComparacionAsociada))  + ' ' +

											CASE WHEN idCompararConAsociada = 2 
												THEN '''' + LTRIM(RTRIM(CAST(valorEspecificoAsociada AS NVARCHAR(MAX))))  + '''' 
												ELSE '''' + LTRIM(RTRIM(CAST(Variable4 AS NVARCHAR(MAX))))  + '''' 
											END AS Variable2 
										FROM @TableData WHERE Id = @position)
									SET @ScriptComparacionCompleto2 = REPLACE(@ScriptComparacion2, 'Sentencia', @Comparacion2) 
							
									INSERT @ResultDataTemp  EXEC (@ScriptComparacionCompleto2)

							END CATCH
					
							-- Actualiza resultado si ya existe, esto lo hace con el fin de dejar solo una validacion por restriccion 
							UPDATE @ResultData

								SET Result = (SELECT TOP(1) Result FROM @ResultDataTemp),
								Obligatoria = CASE WHEN (SELECT idSignoComparacionAsociada FROM @TableData WHERE Id = @position ) IS NULL THEN 0 ELSE 1 END,
								Sentencia =  Sentencia +  ' Entonces ' + REPLACE(REPLACE(REPLACE(@Comparacion2,'CAST(',''),'AS DECIMAL(15,2))',''),'AS DATE)',''),
								VariableId = (SELECT IdVariable FROM @TableData WHERE Id = @position),
								IdRegla = (SELECT IdRegla FROM @TableData WHERE Id = @position),
								idRestriccion = (SELECT idRestriccion FROM @TableData WHERE Id = @position),
								IdError = (SELECT idError FROM @TableData WHERE Id = @position),
								DescripcionError = (SELECT descripcion FROM @TableData WHERE Id = @position)
							WHERE IdT = @position
		

						END

						SET @position = @position + 1

					END


		

				  -- Inicia recorrido tabla resultado, para verificar por agrupacion de reglas si los errores aplican

				  DECLARE  @totalResultData INT = (SELECT COUNT(*) FROM @ResultData)
				  DECLARE  @positionResultData INT = (SELECT TOP(1) ID FROM @ResultData)
				  DECLARE  @ReglaSeleccionada INT = 0
				  DECLARE  @ConteoRegistroPorRegla INT = 0
				  DECLARE  @VariableSeleccionada INT = 0
				  DECLARE  @RegostroAuditoriaDetalle INT = 0

				  -- Inicia recorrido tabla resultado
				  WHILE (@positionResultData <=  @totalResultData)
					  BEGIN
								-- Selecciona la regla del registro
								SET  @ReglaSeleccionada = (SELECT IdRegla FROM @ResultData WHERE Id = @positionResultData)
								SET  @VariableSeleccionada = (SELECT VariableId FROM @ResultData WHERE Id = @positionResultData)
								SET  @RegostroAuditoriaDetalle = (SELECT IdRegistroAuditoriaDetalle FROM @ResultData WHERE Id = @positionResultData)

								-- Realiza conteo para identificar si una de las restricciones de la regla no se cumple
								SET  @ConteoRegistroPorRegla = (SELECT COUNT(*) FROM @ResultData WHERE Id = @positionResultData 
																											AND IdRegla = @ReglaSeleccionada
																											AND VariableId = @VariableSeleccionada
																											AND IdRegistroAuditoriaDetalle = @RegostroAuditoriaDetalle
																											AND Obligatoria = 1
																											AND Result = 0 -- No cumple con la validacion
																											)
						
							   -- Si alguna de las restricciones no se cumple, setea el valor de Resultado en 1
							   IF (@ConteoRegistroPorRegla > 0)

							   BEGIN
									UPDATE @ResultData SET ResultGroup = 1 WHERE IdRegla = @ReglaSeleccionada AND VariableId = @VariableSeleccionada AND IdRegistroAuditoriaDetalle = @RegostroAuditoriaDetalle
							   END


							   SET @positionResultData = @positionResultData + 1
					
					  END

				-- Crea tabla resultado agrupado
				DECLARE @ResultDataGroup TABLE 
				(
					Id INT IDENTITY(1,1) PRIMARY KEY,
					Result BIT, 
					VariableId INT, 
					IdRegla INT, 
					Obligatoria BIT,
					ResultGroup BIT,
					IdError NVARCHAR(255)
				)

				-- Inserta datos agrupado para validar si la regla en total cumple con la validacion
				INSERT INTO @ResultDataGroup
				SELECT  MAX(CAST(Result AS INT)) AS Result, MAX(VariableId) AS VariableId, MAX(IdRegla) AS IdRegla, MAX(CAST(Obligatoria AS INT)),  MAX(CAST(ResultGroup AS INT))  AS ResultGroup, MAX(CAST(IdError AS nvarchar(255)))  
						FROM @ResultData
							GROUP BY VariableId, IdRegla
							ORDER BY VariableId, ResultGroup, IdRegla


				 -- Declara variables para data agrupada
				 DECLARE  @totalResultDataGroup INT = (SELECT COUNT(*) FROM @ResultDataGroup)
				 DECLARE  @positionResultDataGroup INT = (SELECT TOP(1) Id FROM @ResultDataGroup)
				 DECLARE  @ReglaSeleccionadaGroup INT = 0
				 DECLARE  @ConteoRegistroPorReglaGroup INT = 0
				 DECLARE  @VariableSeleccionadaGroup INT = 0

				  -- Inicia recorrido tabla resultado agrupado por variable y regla (PARA CONDICIONES AND)
				 --WHILE (@positionResultDataGroup <=  @totalResultDataGroup)
				 --BEGIN

					--	-- Selecciona la regla del registro
					--			SET  @ReglaSeleccionadaGroup = (SELECT IdRegla FROM @ResultDataGroup WHERE Id = @positionResultDataGroup)
					--			SET  @VariableSeleccionadaGroup = (SELECT VariableId FROM @ResultDataGroup WHERE Id = @positionResultDataGroup)

					--			-- Realiza conteo para identificar si una de las restricciones de la regla no se cumple
					--			SET  @ConteoRegistroPorReglaGroup = (SELECT COUNT(*) FROM @ResultDataGroup WHERE  
					--																							IdRegla = @ReglaSeleccionadaGroup
					--																						AND VariableId = @VariableSeleccionadaGroup
					--																						AND Obligatoria = 1
					--																						AND Result = 0) -- Indica que no cumple con la sentencia

					--		  -- Si encuentra que ninguna de las las restricciones por regla de la variable se cumple setea resultado grupal en 1
					--		   IF (@ConteoRegistroPorReglaGroup > 0)

					--		   BEGIN
						
					--				UPDATE @ResultData SET ResultGroup = 1 WHERE VariableId =  @VariableSeleccionadaGroup AND IdRegla = @ReglaSeleccionadaGroup
					--				UPDATE @ResultDataGroup SET ResultGroup = 1 WHERE VariableId =  @VariableSeleccionadaGroup AND IdRegla = @ReglaSeleccionadaGroup

					--		   END

					--		SET @positionResultDataGroup = @positionResultDataGroup + 1
				 --END



				  -- Inicia recorrido tabla resultado agrupado por variable y regla (PARA CONDICIONES OR)
				 DECLARE  @ErrorSeleccionadoGroup NVARCHAR(255)
				 SET @positionResultDataGroup = (SELECT TOP(1) Id FROM @ResultDataGroup)
				 WHILE (@positionResultDataGroup <=  @totalResultDataGroup)
				 BEGIN

						-- Selecciona la regla del registro
								SET  @ReglaSeleccionadaGroup = (SELECT IdRegla FROM @ResultDataGroup WHERE Id = @positionResultDataGroup)
								SET  @VariableSeleccionadaGroup = (SELECT VariableId FROM @ResultDataGroup WHERE Id = @positionResultDataGroup)
								SET  @ErrorSeleccionadoGroup = (SELECT IdError FROM @ResultDataGroup WHERE Id = @positionResultDataGroup)

								-- Realiza conteo para identificar si una de las restricciones de la regla no se cumple
								SET  @ConteoRegistroPorReglaGroup = (SELECT COUNT(*) FROM @ResultDataGroup WHERE 
																											VariableId = @VariableSeleccionadaGroup
																											AND IdError = @ErrorSeleccionadoGroup
																											AND IdRegla = @ReglaSeleccionadaGroup
																											AND Obligatoria = 1
																											AND ResultGroup = 0) -- Indica que cumple con la sentencia

							  -- Si encuentra que alguna de las reglas de la variable se cumple setea resultado en 0
							   IF (@ConteoRegistroPorReglaGroup > 0)

							   BEGIN
								   UPDATE @ResultData SET ResultGroup = 0 WHERE VariableId =  @VariableSeleccionadaGroup AND IdError = @ErrorSeleccionadoGroup
							   END
							   

							SET @positionResultDataGroup = @positionResultDataGroup + 1
				 END


	END

	
	-- Condicion para validar errroes tipo A
	IF (@ValidaErrorTipoA = 'true')
	BEGIN

		-- Crea tabla consulta data
		DECLARE @GetDataTipoA TABLE 
		(
			Id INT IDENTITY(1,1) PRIMARY KEY,
			IdRegistroAuditoriaDetalle INT,
			VariableId INT, 
			idTipoVariable NVARCHAR(MAX), 
			idErrorTipo NVARCHAR(MAX), 
			ValidacionTipoA INT, 
			DescripcionErrorTipo NVARCHAR(MAX), 
			Dato NVARCHAR(MAX), 
			tablaReferencial NVARCHAR(MAX)
		)


		

		INSERT INTO @GetDataTipoA
		SELECT 

				rd.Id,
				v.Id AS VariableId,
				v.idTipoVariable,
				ISNULL(ert.idError, 'TIPOA') AS idErrorTipo,

				--Validacion Tipo A

				CASE WHEN v.tablaReferencial <> '' AND v.tablaReferencial IS NOT NULL AND ci.ItemId IS NULL
					THEN
						0
				ELSE
					[dbo].[ValidarTipoDato](CASE WHEN rd.MotivoVariable IS NULL OR rd.MotivoVariable = '' THEN rd.DatoReportado ELSE rd.MotivoVariable END, v.idTipoVariable)

				END AS ValidacionTipoDato,
				CASE WHEN v.tablaReferencial <> '' AND v.tablaReferencial IS NOT NULL AND ci.ItemId IS NULL
					THEN
						'Dato no cumple con Tabla referencial ' + v.tablaReferencial
				ELSE
					 ISNULL(erT.descripcion, 'No cumple con el tipo de dato' + v.idTipoVariable) 
				END AS DescripcionErrorTipo,
				CASE WHEN rd.MotivoVariable IS NULL OR rd.MotivoVariable = '' THEN rd.DatoReportado ELSE rd.MotivoVariable END AS Dato,
				CASE WHEN v.tablaReferencial IS NULL OR v.tablaReferencial = '' THEN NULL ELSE v.tablaReferencial END AS tablaReferencial
				--,ci.ItemId AS ItemTablaReferencial
				FROM

					RegistrosAuditoriaDetalle rd
						INNER JOIN Variables v ON rd.VariableId = v.Id
						INNER JOIN RegistrosAuditoria ra ON ra.Id = rd.RegistrosAuditoriaId
						INNER JOIN VariableXMedicion vxm ON vxm.VariableId = v.Id AND vxm.MedicionId = ra.IdMedicion

						-- Error Tipo
						LEFT JOIN ErrorRegla erT ON erT.idError = v.idErrorTipo
						LEFT JOIN CoberturaError ceT ON ceT.idCobertura = 23
															AND erT.idError = ceT.idError

						-- Tabla Referencial		
						LEFT  JOIN  CatalogoCobertura cc ON cc.NombreCatalogo = v.tablaReferencial  AND v.tablaReferencial <> '' AND v.tablaReferencial IS NOT NULL
						LEFT JOIN CatalogoItemCobertura ci ON cc.Id = ci.CatalogoCoberturaId 
															AND 
															(CASE WHEN rd.MotivoVariable IS NULL OR rd.MotivoVariable = '' THEN rd.DatoReportado ELSE rd.MotivoVariable END)
															= ci.ItemId
				WHERE rd.RegistrosAuditoriaId = @RegistroAuditoria
							AND vxm.EsCalificable = 1 
							AND vxm.MedicionId = @Medicion
							AND rd.Dato_DC_NC_ND <> 34 
		
				

				
				-- Inserta resultado Tipo A
				INSERT INTO @ResultData
						SELECT 
								 IdRegistroAuditoriaDetalle,
								 0,
								 CASE WHEN ValidacionTipoA = 1 THEN 0 ELSE 1 END,
								 1,
								 DescripcionErrorTipo,
								 VariableId,
								 0,
								 0,
								 idErrorTipo,
								 DescripcionErrorTipo,
								 CASE WHEN ValidacionTipoA = 1 THEN 0 ELSE 1 END

							FROM  @GetDataTipoA


		
	END
	
		  
		   --Actualiza errores previamente registrados 
				UPDATE re
					SET 
					re.[Enable] = rd.ResultGroup,
					re.ModifyBy = @User,
					re.Descripcion = (CASE WHEN rd.DescripcionError IS NULL THEN rd.Sentencia ELSE rd.DescripcionError END),
					re.ModifyDate = GETDATE(),
					re.Sentencia = rd.Sentencia,
					re.Reducido = CASE WHEN rd.IdRegla  <> 0 THEN CONCAT('Regla: ',CAST (rd.IdRegla AS NVARCHAR(255)), ' - ', CAST (rd.IdRestriccion AS NVARCHAR(255))) ELSE 'Tipo A' END
					FROM RegistroAuditoriaDetalleError re -- Tabla a actualizar
						INNER JOIN @ResultData rd -- Tabla con la que valida info
						ON (rd.IdError IS NULL OR rd.IdError = re.ErrorId)
						AND rd.VariableId = re.Variableid
						AND rd.IdRegistroAuditoriaDetalle = re.RegistrosAuditoriaDetalleId
						AND rd.IdRestriccion = re.IdRestriccion


		-- Inserta los registros de errores que no existan
			INSERT INTO [dbo].[RegistroAuditoriaDetalleError]([RegistrosAuditoriaDetalleId],[IdRegla],[IdRestriccion],[Reducido],[VariableId],[ErrorId],[Descripcion],[Sentencia],[NoCorregible],[Enable],[CreatedBy],[CreatedDate],[ModifyBy],[ModifyDate])
			SELECT 
				rd.IdRegistroAuditoriaDetalle,
				rd.IdRegla, 
				rd.IdRestriccion,
				CASE WHEN rd.IdRegla  <> 0 THEN CONCAT('Regla: ',CAST (rd.IdRegla AS NVARCHAR(255)), ' - ', CAST (rd.IdRestriccion AS NVARCHAR(255))) ELSE 'Tipo A' END,
				rd.VariableId, 
				rd.IdError,
				CASE WHEN rd.DescripcionError IS NULL THEN rd.Sentencia ELSE rd.DescripcionError END AS DescripcionError,
				rd.Sentencia,
				0,
				rd.ResultGroup,
				@User,
				GETDATE(),
				@User,
				GETDATE()
			FROM  @ResultData rd
				LEFT JOIN RegistroAuditoriaDetalleError re 
						ON (rd.IdError IS NULL OR rd.IdError = re.ErrorId)
						AND rd.VariableId = re.Variableid
						AND rd.IdRegistroAuditoriaDetalle = re.RegistrosAuditoriaDetalleId 
						AND rd.IdRestriccion = re.IdRestriccion 
			WHERE re.Id IS NULL


			--Deshabilita Errores de variables que pasaron a ND
				UPDATE re
					SET 
					re.[Enable] = 0,
					re.ModifyBy = @User
					FROM RegistroAuditoriaDetalleError re -- Tabla a actualizar
						INNER JOIN RegistrosAuditoriaDetalle rd -- Tabla con la que valida info
						ON rd.Id = re.RegistrosAuditoriaDetalleId
						AND rd.Dato_DC_NC_ND = 34  


			EXEC SP_Consulta_ErrorRegistroAuditoria @RegistrosAuditoriaId = @RegistroAuditoria



END


GO
