.mat-dialog-container{
    height: 400px !important;
    width: 1548px !important;
    border-radius: 10px;
    background: lightcyan;
    color: #039be5;
  }

  .separador{
    border-right: #000 solid 1px;
  }
  .fondo-icon{
    color: #a03781;
    cursor: pointer;
}