<div class="row">
    <div class="col-md-12">
        <h3 class="tab-title">Contacte a su lider</h3>
    </div>
    <div class="col-md-12">
        <div class="input-group">
            <textarea  aria-label="With textarea" placeholder="Escriba aquí su mensaje para Edna Zambrano"></textarea>
            
        </div>        
    </div>
   
    <div class="col-md-12 text-right">
        <br>
        <br>
        <button mat-raised-button class="btn-basic btn-align-right">Enviar</button>
    </div>
    <br>
        <br>
    <div class="col-md-12">
        <h3 class="tab-title">Historial de mensajes de registro</h3>
    </div>

    <mat-card>
        <div class="row">
            <div class="col-md-5">
                Lina Rojas Auditor CAC 12/07/2021 - 20:00:04
            </div>
            
            <div class="col-md-1">
                <div class="line-vertical"></div>
            </div>
            
            <div class="col-md-6">
                Los soportes no corresponden ni demuestran el diagnostico de la medicion
            </div>
        </div>
    </mat-card>
    <br>
</div>