.row{
    padding: 20px 0px;
}

.card-grey{
    background: #f9f8fc;
}
textarea{
    border:none;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 4px;
    height: 120px;
}

.btn-bottom{
    bottom: 36px;
    position: absolute;
}