<app-card-percent 
    [title]="'Lina Rojas - Edna Zambrano'"
    [page]="'undefined'"
    [subtitle]="'Asunto: Consulta Régimen'"
></app-card-percent>


<mat-card>
    <div class="row">
        <div class="col-md-1">
            <div class="ready-point-disabled"></div>
        </div>
        <div class="col-md-2">
            <p>12/07/2021 20:00:04</p>
        </div>
        <div class="col-md-2">
            <p>Lina Rojas</p>
        </div>
        <div class="col-md-2">
            <p>90876523</p>
        </div>
        <div class="col-md-5">
            <p>9087Los soportes no corresponden ni demuestran el diagnostico de la medicion Por favor cerrar el caso como Dato conforme y en las observaciones Por favor cerrar el caso como Dato conforme y en las observaciones6523</p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
        <div class="col-md-1">
            <div class="ready-point-disabled"></div>
        </div>
        <div class="col-md-2">
            <p>12/07/2021 20:00:04</p>
        </div>
        <div class="col-md-2">
            <p>Lina Rojas</p>
        </div>
        <div class="col-md-2">
            <p>90876523</p>
        </div>
        <div class="col-md-5">
            <p>9087Los soportes no corresponden ni demuestran el diagnostico de la medicion Por favor cerrar el caso como Dato conforme y en las observaciones Por favor cerrar el caso como Dato conforme y en las observaciones6523</p>
        </div>
    </div>

</mat-card>
<br>
<mat-card class="card-grey">
    <div class="row">
        <div class="col-md-10">
            <textarea class="form-control" placeholder="Responda el mensaje a Edna"></textarea>
        </div>
        <div class="col-md-2">
            <button mat-raised-button class="btn-basic btn-align-right btn-bottom">Enviar</button>
        </div>
    </div>
</mat-card>