<div class="row">
    <div class="col-md-12">
        <h3 class="tab-title">Responda a los hallazgos cargando un archivo que contenga los id de registros, la nueva calificación y el motivo</h3>
    </div>
    <div class="col-md-12 color-gris">
        Los id´s cargados serán calificados y cambiarán de estado automáticamente.     
    </div>
   <div class="col-md-12">
    <br>
    <button mat-button class="btn-new btn-general cambiocolor" >DESCARGAR PLANTILLA</button>
    <br>
    <br>
    <input type="file" name="photo" ng2FileSelect [uploader]="uploader" style="width: 280px;"/>
   </div>
    <div class="col-md-12 text-right">
        <br>
        <br>
        <button mat-raised-button class="btn-basic btn-align-right">RESPONDER HALLAZGO</button>
    </div>
</div>
