.btn-new-inbox{
    width: 40%;
    position: absolute;
    text-align: -webkit-center;
    margin: 0px auto;
    margin: 0% 28%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: -20px;
}
.pd{
    padding-bottom: 50px;
}

.mat-dialog-container {
    
    position: absolute !important;
    margin: 0px auto;
    margin-left: -21% !important;
    width: 50% !important;
}
