<div class="row">
    <div class="col-md-12">
        <h3 class="tab-title">Cargue aquí el archivo que contiene los id de registros para otorgar la solicitud de extemporaneidad</h3>
    </div>
    <div class="col-md-12 color-gris">
        Los id´s cargados serán retornados al estado de revisión por la entidad.       
    </div>
   <div class="col-md-12">
    <br>
    <input type="file" name="photo" ng2FileSelect [uploader]="uploader" style="width: 280px;;"/>
   </div>
    <div class="col-md-12 text-right">
        <br>
        <br>
        <button mat-raised-button class="btn-basic btn-align-right">OTORGAR EXTEMPORANEIDAD</button>
    </div>
</div>