

<div class="row mb-2"  *ngIf="carga">
  <div class="col-md-12 parrafo">
    Catalogo informativo Tipo
  </div>
  <div class="col-md-3" *ngFor="let item of objTipos">
    {{ item.id}} - {{ item.itemName}}
  </div>
  <hr class="mt-2">
</div>

<div class="row" *ngIf="carga">
  <div class="col-md-12 my-2">
    <label class="custom-file-upload" style="margin-right: 5px;">
      Cargue aquí el archivo con los respectivos códigos
  </label>
  <input type="file" name="codigo"  (change)="fileSelected($event)"/>
  </div>
  <div class="col-md-4 my-2"  >
    <a style="display:none;" [href]="'data:application/octet-stream;base64,' + basePlantilla | safe2" download="Plantilla.csv" #plantillaCodigo>Descarga Plantilla</a>
        
    <button mat-raised-button class="btn-basic  btn-general ancho" (click)="descargarPlantilla()" >DESCARGAR PLANTILLA</button>
</div>

<div class="col-md-3 my-2" >
  <button mat-raised-button class="btn-basic btn-general"  (click)="btnEnviarMasivo()"   [disabled]="!allowLoadFile"  [ngClass]="{'buttonfile-dis': allowLoadFile}">SUBIR ARCHIVO</button>
</div>
<div class="col-md-3 my-2" >
  <button mat-raised-button class="btn-basic btn-invertido"  (click)="cancelar()"  >CANCELAR</button>
</div>
 <hr>
</div>
<form [formGroup]="formCodigo" *ngIf="crearCodigo">
    <div class="row" >
        <div class="col-md-3">
        <mat-form-field appearance="fill" class="t-variable" floatLabel='never'>      
            <mat-label class="fuente">Codigo </mat-label>       
            <input matInput class="input-config" formControlName='code' id="codigo">          
          </mat-form-field>   
    </div>
    <div class="col-md-3">
        <mat-form-field appearance="fill" class="t-variable" floatLabel='never'>      
            <mat-label class="fuente">Nombre </mat-label>       
            <input matInput class="input-config" formControlName='name' id="nombre">          
          </mat-form-field>   
    </div>
    <div class="col-md-3">
      <mat-form-field appearance="fill" class="t-variable" floatLabel='never'>
        <mat-label class="fuente">Tipo </mat-label>    
        <mat-select formControlName='type' id="tipo" >
          <mat-option class="text-center"  *ngFor="let item of objTipos"  [value]="item.id">
            {{item.itemName}}
          </mat-option>
        </mat-select>
      </mat-form-field>  
        
    </div>
    <div class="col-md-3">  
      <mat-form-field appearance="fill">
      <mat-label class="fuente">Cobertura</mat-label> 
      <mat-select   formControlName='cobertura'>
        <mat-option *ngFor="let enfermedad of this.listCobertura" [value]="enfermedad.IdCobertura">{{ enfermedad.IdCobertura }}-{{ enfermedad.Nombre}}</mat-option>
      </mat-select> 
    </mat-form-field>
  </div>
    </div>
    <div class="row mb-2" >
    <div class="col-md-3">
        <button mat-raised-button class="btn-basic btn-general" (click)="estadoCodigo=='nuevo'?crearCodigoAction():editarCodigoAction()" >{{estadoCodigo=='nuevo'?'CREAR':'EDITAR'}} CODIGO</button>

    </div>
    <div class="col-md-3" >
        <button mat-raised-button class="btn-basic btn-invertido"  (click)="cancelar()"  >CANCELAR</button>
    </div>
    <hr class="my-2">
    </div>
    </form>

    <form [formGroup]="form">
      <div  *ngIf="!carga && !crearCodigo">
        <div class="row">
          <div class="col-md-3"  >
            <button mat-raised-button class="btn-basic btn-general" (click)="cargamasiva()" 
                    *ngIf="this.permisos.Cargar_plantilla_codigos_administrativos.visible && !carga" 
                    [ngClass]="{'elementdisabled': !this.permisos.Cargar_plantilla_codigos_administrativos.habilitado}" >
              CARGA MASIVA
            </button>
        </div>  
            <div class="col-md-3"  >
                <button mat-raised-button class="btn-basic btn-general" (click)="crear()" 
                        *ngIf="this.permisos.Crear_Codigo_administrativo.visible && !crearCodigo" 
                        [ngClass]="{'elementdisabled': !this.permisos.Crear_Codigo_administrativo.habilitado}" >
                    NUEVO CODIGO
                </button>
            </div>  
        </div>
        <div class="row btns-superior">   
            <div class="col-md-3">
                <button mat-raised-button class="btn-basic  btn-general" style="background-color: #014291; width: 100%;" (click)='this.limpiar()'>LIMPIAR</button>
            </div>
        
            <div class="col-md-3">  
              <mat-form-field appearance="fill">
              <mat-label class="fuente">Cobertura</mat-label> 
              <mat-select   formControlName='idCobertura' (selectionChange)="this.getFiltros(1, this.itemsPerpagina)">
                <mat-option *ngFor="let enfermedad of this.listCobertura" [value]="enfermedad.IdCobertura">{{ enfermedad.IdCobertura }}-{{enfermedad.Nombre}}</mat-option>
              </mat-select> 
            </mat-form-field>
          </div>  
          
            <div class="col-md-3">       
                    <mat-form-field appearance="fill" class="t-variable" floatLabel='never'>      
                        <mat-label class="fuente">Buscar Codigo</mat-label>                
                        <input matInput class="input-config" formControlName='buscarcodigo' (keyup)='this.getFiltros(1, this.itemsPerpagina)' >
                        <mat-icon matSuffix class="fondo-icon">search</mat-icon>
                      </mat-form-field>       
            </div>
            
        </div>
      </div>
  
      </form>
<div *ngIf="!carga && !crearCodigo">
  <div class="container-principal margen tabla-over" >
    <table mat-table [dataSource]="dataSource2" matSort class="w-100" >
       
    
        <ng-container matColumnDef="menu">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-principal" style="padding-left: 60px !important; "></th>
            <td mat-cell *matCellDef="let element" class="row-cursor size-font fuente"> 
              <button mat-icon-button aria-label="detalle" [matMenuTriggerFor]="menu"
                      *ngIf="this.permisos.Eliminar_Codigo_administrativo.visible || this.permisos.Editar_Codigo_administrativo.visible"  >
              <mat-icon class="p-link">more_vert</mat-icon>
            </button>                   
          <mat-menu #menu="matMenu">
            <button mat-menu-item class="btn-menu" (click)="eliminarCodigo(element.id)" 
                    *ngIf="this.permisos.Eliminar_Codigo_administrativo.visible" 
                    [ngClass]="{'elementdisabled': !this.permisos.Eliminar_Codigo_administrativo.habilitado}">
                Eliminar
            </button>
            <button mat-menu-item class="btn-menu" (click)="btnEditarCodigo(element)" 
                    *ngIf="this.permisos.Editar_Codigo_administrativo.visible" 
                    [ngClass]="{'elementdisabled': !this.permisos.Editar_Codigo_administrativo.habilitado}">
                  Editar
            </button>        
          </mat-menu>
        </td>
          </ng-container>
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-principal">Codigo</th>
            <td mat-cell *matCellDef="let element" class="row-cursor size-font fuente"> 
              {{element.codigo}}</td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef class="th-principal">  Nombre  </th>
            <td mat-cell *matCellDef="let element">
                {{element.nombre}} 
            </td>
        </ng-container>
        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef class="th-principal">  Tipo  </th>
            <td mat-cell *matCellDef="let element">
                {{element.nombreTipo}} 
            </td>
        </ng-container>        
        <ng-container matColumnDef="cobertura">
          <th mat-header-cell *matHeaderCellDef class="th-principal">  Cobertura  </th>
          <td mat-cell *matCellDef="let element">
              {{element.nombreCobertura}} 
          </td>
      </ng-container>  
        
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
      </table>
  </div>
  <div *ngIf="this.dataSource2" style="margin-top: 20px;">
    <nav aria-label="Page navigation example" *ngIf="this.dataSource2.length > 0">
      <ul class="pagination justify-content-center">
          <li class="page-item"  [ngClass]="{'page-item disabled': pageNumber == 1}">
              <a class="page-link" (click)="this.getFiltros(1, this.itemsPerpagina)">
                  <</a>
          </li>
          <li class="page-item" [ngClass]="{'page-item disabled': pageNumber == 1}">
              <a class="page-link" (click)="this.getFiltros(pageNumber, this.itemsPerpagina)">
                  <<</a>
          </li>
          <li class="page-item" [ngClass]="{'page-item active': pageNumber === page}" *ngFor="let page of pager.pages"><a class="page-link" (click)="this.getFiltros(page, this.itemsPerpagina)">{{page}}</a></li>
          <li class="page-item" [ngClass]="{'page-item disabled': pageNumber === pager.totalPages}"><a class="page-link" (click)="this.getFiltros((pageNumber + 1) , this.itemsPerpagina)">>></a></li>
          <li class="page-item" [ngClass]="{'page-item disabled': pageNumber === pager.totalPages-1}"><a class="page-link" (click)="this.getFiltros(pager.totalPages, this.itemsPerpagina)">></a></li>
  
          <div  class="selectAuditor" style="width: 100px;">
            <mat-form-field appearance="fill"  >
              <mat-label>Cant. por página</mat-label>
              <mat-select  [(ngModel)]="itemsPerpagina" name="itemsPerpagina" >
                <mat-option class="text-center" (click)="this.getFiltros(1, item)" *ngFor="let item of sizeList" [value]="item">
                  {{item}}
                </mat-option>
              </mat-select>
            </mat-form-field>                   
          </div>
      </ul>               
  </nav>
  
</div> 
</div>
 