<div class="row">
    <div class="cold-md-12 header-inbox text-center">
        Nuevo Mensaje
    </div>
    <div class="col-md-12 pd-new-inbox">
     
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Asunto" aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            <select class="form-select" id="inputGroupSelect01">
              <option selected>seleccione el destinatario</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>

          <div class="input-group">
            <textarea class="form-control" placeholder="Escriba aquí el mensaje"></textarea>
          </div>

          <div class="row" style="margin-top: 20px;">
              <div class="col-md-8">
                <div class="input-group mb-3">
                    <select class="form-select" id="inputGroupSelect01">
                      <option selected>Relacionar registro asignado</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
              </div>

              <div class="col-md-4">

                <button mat-raised-button class="btn-basic btn-align-right">Enviar
                   
                </button>
              </div>
          </div>

    </div>
</div>