<app-card-percent 
    [title]="title"
    [page]="'audit-management'"   
></app-card-percent>

<table class="table table-card" style="margin-top: 20px;">
    <tbody style="padding-left: 10px;">
      <tr class="title">
        <td scope="col"  class="text-title" colspan="100%" style="font-weight: 100;"><a routerLink='/gestion-de-auditoria' style="color: white; text-decoration: none;">< Gestor de mediciones</a> < <strong style="font-weight: 500;">{{medicion}} </strong></td>
      </tr>    
          <tr class="subtitle">            
            <td scope="col" class="celda-inicial" style=" padding-left: 20px;">
                <p class="text-subtitle-a letra">Resolución</p>
                <p class="text-subtitle-b">{{resolucion}}</p>
            </td>
            <td scope="col">
                <p class="text-subtitle-a letra">Estado</p>
                <p class="text-subtitle-b">{{estado}}</p>
            </td>
            <td scope="col">
                <p class="text-subtitle-a letra">Creada por:</p>
                <p class="text-subtitle-b">Administrador</p>
            </td> 
            <td scope="col" class="center" style="vertical-align: middle;">       
      <span class="btn-abrir btn-general subrayado"  (click)="this.btnVariable()"  style="padding-bottom: 10px;"
      
      *ngIf="this.permisos.Crear_Variable.visible && !validarEstado()" 
      [ngClass]="{'elementdisabled': !this.permisos.Crear_Variable.habilitado}">
      CREAR VARIABLE 
      </span>                  
          </td>
          <td scope="col" class="center">     
             <button mat-raised-button [disabled]="isDisabled" class="btn-basic btn-general" style="margin-right: 10px; margin-top: 10px;" (click)="btnGuardarCambios();">GUARDAR</button>  
        </td>
          </tr>  
          <tr>  
            <td scope="col" colspan="100%" style="padding-left: 20px;padding-right: 20px;">
              <div style="display: flex;
              justify-content: space-between;width: 100%; padding-top: 10px;">



                <mat-form-field appearance="fill" class="n-variable"  style="width: 300px;"> 
                  <mat-label class="letra">Buscar</mat-label>
                  <input (blur)='this.setFilter(1,this.itemsPerpagina)' (keydown.enter)='this.setFilter(1,this.itemsPerpagina)' [(ngModel)]="this.textBuscar" matInput>
                </mat-form-field>     



                <mat-form-field appearance="fill" style="width: 300px;">
                <mat-label class="fuente">Filtrar por Grupo</mat-label>
                <mat-select (closed)="this.setFilter(1,this.itemsPerpagina)" [(ngModel)]="this.catalogoSelect" multiple>
                  <mat-option  *ngFor="let catalogo of this.catalogo" [value]="catalogo.id">{{catalogo.itemName}}</mat-option>
                </mat-select>
                </mat-form-field> 

                <mat-form-field appearance="fill"  style="width: 300px;">
                <mat-label class="fuente">Filtrar por Tipo</mat-label>
                <mat-select (closed)="this.setFilter(1,this.itemsPerpagina)" [(ngModel)]="this.tipoVariableSelect" multiple>
                  <mat-option  *ngFor="let itemTipo of this.tipoVariable" [value]="itemTipo.id">{{itemTipo.itemName}}</mat-option>
                </mat-select>
                </mat-form-field> 

                <div class="col-md-1" > 
                  <button mat-raised-button class="btn-basic btn-general" style="background-color: #014291;" (click)='this.cleanFilters()'>LIMPIAR</button> <!--es nuevo y displayOrder = 1 > boton rosado -->
              </div>  
                </div>
                    
            </td>            
          </tr>  
          <tr class="eliminarseparacion">
            <td colspan="100%" class="eliminarseparacion" style="padding-left: 20px;">
                <div class="container-principal tabla-over" >
                    <table mat-table [dataSource]="SourceDataVariables" matSort class="borde-top-tabla">
    
                          <ng-container matColumnDef="more">
                            <th mat-header-cell *matHeaderCellDef class="th-principal"></th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="this.permisos.Editar_Variable.visible || this.permisos.Eliminar_Variable.visible">
                                    <mat-icon class="color-more">more_vert</mat-icon>                               
                                </button>
                                <mat-menu #menu="matMenu" >
                                    <button mat-menu-item class="btn-menu" (click)="ConfirmacionDelete(element)"
                                            *ngIf="this.permisos.Eliminar_Variable.visible && element.tipoVariableItem != '35'" 
                                            [ngClass]="{'elementdisabled': !this.permisos.Eliminar_Variable.habilitado}">
                                      Eliminar
                                    </button>
                                    <button mat-menu-item class="btn-menu" (click)="openUpdate(element)"
                                            *ngIf="this.permisos.Editar_Variable.visible" 
                                            [ngClass]="{'elementdisabled': !this.permisos.Editar_Variable.habilitado}">
                                      Editar
                                    </button>
                                </mat-menu>                           
                            </td>
                          </ng-container> 
                      <ng-container matColumnDef="orden">
                        <th mat-header-cell *matHeaderCellDef  class="th-principal"> Orden </th>
                        <td mat-cell *matCellDef="let element" class="color-content  aling-center-order size-font "> {{element.vxM_Orden}} </td>
                      </ng-container>    

                      <ng-container matColumnDef="grupo"> 
                        <th mat-header-cell *matHeaderCellDef  class="th-principal"> Grupo </th>
                        <td mat-cell *matCellDef="let element" class="color-content"> 
                          <mat-form-field  appearance="fill" style="max-width: 120px; margin-top: 10px;  font-size: 12px">
                            <mat-select [disabled]="validarEstado()"
                            [(value)]="element.subGrupoId"
                            (valueChange)="this.llenarLista(element, $event, 'group')">
                              <mat-option *ngFor="let itemGrupo of grupoValue" [value]="itemGrupo.id" >
                                {{ itemGrupo.itemName }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>   
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="tipo"> 
                        <th mat-header-cell *matHeaderCellDef  class="th-principal"> Tipo</th>
                        <td mat-cell *matCellDef="let element" class="color-content size-font separacion"> {{element.tipoVariableDesc}} </td>
                      </ng-container> 
                      
                      <ng-container matColumnDef="variable">
                        <th mat-header-cell *matHeaderCellDef  class="th-principal"> Variable </th>
                        <td mat-cell *matCellDef="let element" class="color-content size-font separacion" style="text-align: center;"> {{element.variable}} </td> <!-- element.idVariable -->
                      </ng-container>                  
                      
                      <ng-container matColumnDef="nombre_variable">
                        <th mat-header-cell *matHeaderCellDef  class="th-principal" style="min-width: 150px;"> Nombre</th>
                        <td mat-cell *matCellDef="let element" class="color-content size-font separacion" style="overflow: hidden;
                        max-width: 150px; "> {{element.nombre}} </td>
                      </ng-container>
                       
                      <ng-container matColumnDef="descripcion">
                          <th mat-header-cell *matHeaderCellDef  class="th-principal"  style="min-width: 150px;"> Descripción Variable </th>
                          <td mat-cell *matCellDef="let element" class="color-content size-font separacion" style="padding: 5px;"  style="min-width: 150px;"> {{element.descripcion}} </td>
                      </ng-container>                                            

                      <ng-container matColumnDef="default">
                        <th mat-header-cell *matHeaderCellDef  class="th-principal"> Default </th>
                        <td mat-cell *matCellDef="let element" class="color-content">
                          <mat-form-field appearance="fill"  style="max-width: 80px; margin-top: 10px;font-size: 12px">
                            <mat-select  [(value)]="element.calificacionXDefecto" [disabled]="validarEstado()"
                            (valueChange)="this.llenarLista(element, $event, 'default')" >
                              <mat-option *ngFor="let itemDefault of defaultValue" value="{{itemDefault.id}}" >
                                {{ itemDefault.itemName }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field> 
                        </td> <!-- {{element.default}}  -->
                      </ng-container>

                      <ng-container matColumnDef="esCalificable">
                        <th mat-header-cell *matHeaderCellDef class="th-principal"> Auditable </th>
                        <td mat-cell *matCellDef="let row" style="text-align: center;max-width: 40px" >
                                 <!-- metodo checkbox  [disabled]="validarEstado()" --> 
                          <mat-checkbox                        
                            (click)="$event.stopPropagation();"
                            (change)="$event ? selection.toggle(row) : null; this.llenarListaChecks(row, $event, 'auditable')"
                            [checked]="row.esCalificable == '1'"
                            [aria-label]="checkboxLabel(row)">
                          </mat-checkbox>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="esVisible">
                        <th mat-header-cell *matHeaderCellDef class="th-principal"> Visible </th>
                        <td mat-cell *matCellDef="let row"  style="text-align: center;max-width: 40px">
                             <!-- metodo checkbox  [disabled]="validarEstado()" --> 
                          <mat-checkbox                          
                            (click)="$event.stopPropagation(); "
                            (change)="$event ? selection2.toggle(row) : null; this.llenarListaChecks(row, $event, 'visible')"
                            [checked]="row.esVisible == '1'"
                            [aria-label]="checkboxLabel2(row)">
                          </mat-checkbox>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="hallazgo">
                        <th mat-header-cell *matHeaderCellDef class="th-principal"> Hallazgo </th>
                        <td mat-cell *matCellDef="let row"  style="text-align: center;max-width: 40px">
                          <mat-checkbox  [disabled]="validarEstado()"                         
                            (click)="$event.stopPropagation(); "
                            (change)="$event ? selection3.toggle(row) : null; this.llenarListaChecks(row, $event, 'hallazgo')"
                            [checked]="row.hallazgos == true"
                            [aria-label]="checkboxLabel3(row)">
                          </mat-checkbox>
                        </td>
                      </ng-container>

                       <ng-container matColumnDef="errorOff"> 
                        <th mat-header-cell *matHeaderCellDef  class="th-principal"> Error Off</th>
                        
                        <td mat-cell *matCellDef="let element" class="color-content size-font">
                          <mat-form-field
                          appearance="fill" style="max-width: 250px; padding: 5px;margin-top: 10px;">
                            <mat-select placeholder="Default" multiple [disabled]="validarEstado()">
                              <mat-option *ngFor="let error of errorOf" [value]="error.id">
                                {{ error.itemName }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field> 
                            </td>
                      </ng-container> 

                      <ng-container matColumnDef="omitir">
                        <th mat-header-cell *matHeaderCellDef  class="th-principal"> Omitir error ND </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox                                     
                                        (click)="$event.stopPropagation()"
                                        (change)="$event ? selection2.toggle(row) : null"
                                        [checked]="selection2.isSelected(row)"
                                        [aria-label]="checkboxLabel2(row)">
                            </mat-checkbox>
                        </td>
                      </ng-container>
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>  

                    </table>
                  </div>
              </td>
          </tr>  
          <tr>
            <td colspan="100%">
                <!-- INICIA PAGINADOR -->  
                <div *ngIf="this.DataVariables" style="margin-top: 20px;">
                  <nav aria-label="Page navigation example" *ngIf="this.DataVariables.length > 0">
                    <ul class="pagination justify-content-center" >
                        <li class="page-item"  [ngClass]="{'page-item disabled': pageNumber == 1}">
                            <a class="page-link" (click)="this.setFilter(1, this.itemsPerpagina)">
                               < </a>
                        </li>
                        <li class="page-item" [ngClass]="{'page-item disabled': pageNumber == 1}">
                            <a class="page-link" (click)="this.setFilter(pageNumber - 1, this.itemsPerpagina)">
                             <<   </a>
                        </li>
                        <li class="page-item" [ngClass]="{'page-item active': pageNumber === page}" *ngFor="let page of pager.pages"><a class="page-link" (click)="this.setFilter(page, this.itemsPerpagina)">{{page}}</a></li>
                        <li class="page-item" [ngClass]="{'page-item disabled': pageNumber === pager.totalPages}"><a class="page-link" (click)="this.setFilter((pageNumber + 1) , this.itemsPerpagina)">>></a></li>
                        <li class="page-item" [ngClass]="{'page-item disabled': pageNumber === pager.totalPages}"><a class="page-link" (click)="this.setFilter(pager.totalPages, this.itemsPerpagina)">></a></li>
                
                        <div  class="selectAuditor" style="width: 100px;">
                          <mat-form-field appearance="fill"  >
                            <mat-label>Cant. por página</mat-label>
                            <mat-select  [(ngModel)]="itemsPerpagina" name="itemsPerpagina" >
                              <mat-option class="text-center" (click)="this.setFilter(1, item)" *ngFor="let item of sizeList" [value]="item">
                                {{item}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>                   
                        </div>
                    </ul>               
                  </nav>
                </div> 
             
              <div class="d-flex justify-content-end">  
                  
              </div> 
              <div class="row" *ngIf="this.totalRegister > 0"  style="text-align: right; color: #A03781;">
                <label>Total de Registros: <b>{{this.totalRegister}}</b></label>
              </div>
              <!-- FINALIZA PAGINADOR -->
            </td>
          </tr>
        
            

          </tbody>
    </table>