<form autocomplete="off">
    <div class="row">
        <div class="col-md-3">
            <mat-form-field appearance="fill">
                <mat-label>Tipo de Acta</mat-label>
                <mat-select [(ngModel)]="_idActa" name="_idActa">
                    <mat-option   #tipoActa (click)="consultaParametrosTemplate(tipoActa.value)" *ngFor="let acta of TipoActas" [value]="acta.id">{{acta.itemName}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>


    <div *ngIf="_idActa != 0">
        <div class="container-principal margen tabla-over" >
          <table mat-table [dataSource]="dataSource2" matSort class="w-100" >
             
          
            <ng-container matColumnDef="menu">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-principal" style="padding-left: 60px !important; "></th>
                <td mat-cell *matCellDef="let element" class="row-cursor size-font fuente"> 
                  <button mat-icon-button aria-label="detalle" [matMenuTriggerFor]="menu"  >
                  <mat-icon class="p-link">more_vert</mat-icon>
                </button>                   
              <mat-menu #menu="matMenu">
                <button mat-menu-item class="btn-menu" (click)="openModalTemplate(element)" >
                      Editar
                </button>        
              </mat-menu>
            </td>
              </ng-container>
              <ng-container matColumnDef="Descripcion">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-principal" style="padding-left: 30px !important; ">Descripción</th>
                  <td mat-cell *matCellDef="let element" class="row-cursor size-font fuente"> 
                    {{element.descripcion}}
                    </td>
                </ng-container>
               
      
                <ng-container matColumnDef="Valor">
                  <th mat-header-cell *matHeaderCellDef class="th-principal">  Valor  </th>
                  <td mat-cell *matCellDef="let element">
                    {{element.valor}}
                  </td>
              </ng-container>
         
                <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
            </table>
        </div>
       
      </div>




</form>
  