<ng-container>

    <mat-sidenav-container class="example-container">

        <div class="container">

            <div class="row">

              <div class="col-md-4" class="box-login">

                <h1 class="title-login">Actualizar Contraseña</h1>

                <form [formGroup]="form">
                  <div class="row">
                    
                      <div class="col-md-12">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Contraseña</mat-label>
                            <input (keyup)="validationEqualPassword()"  matInput formControlName="password1" name="password1" id="password1"  type="password" matInput name="password">
                           

                            <mat-icon style="cursor: pointer;" (click)='this.showPassword1()'  matSuffix>visibility</mat-icon>
                          </mat-form-field>
                      </div>

                      <div class="col-md-12">
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Confirmar contraseña</mat-label>
                            <input  (keyup)="validationEqualPassword()" matInput formControlName="password2" name="password2" id="password2" type="password" matInput name="password">
                          
                            <mat-icon style="cursor: pointer;" (click)='this.showPassword2()' matSuffix>visibility</mat-icon>
                          </mat-form-field>
                      </div>

                      <mat-error *ngIf=" form != null && !this.form.valid && action">
                        La contraseña debe tener más de 8 caracteres alfanuméricos, mayusculas y un caracter especial #?!@$%^&*-  
                     </mat-error>  

                     <mat-error *ngIf="!validationPasswords">
                        La contraseñas no coincide 
                     </mat-error>  

                      <mat-error *ngIf="message != ''">
                            {{message}}
                       </mat-error>


                      <div class="col-md-6">
                        <div class="row">
                        <div class="col-md-10"></div>
                        <div class="col-md-2" *ngIf="loading">
                          <div>
                            <mat-spinner diameter="50"></mat-spinner>
                            </div>
                        </div>
                      </div>

                      </div>

                      <div class="col-md-3" style="padding-right: 20%;" *ngIf="!loading && validation == _enumValidacionToken.Correcto">
                        <button  [disabled]= "!form.valid || !validationPasswords" mat-raised-button class="btn-basic  btn-general float-right" (click)="actualizaPassword()">GUARDAR</button>
                     </div>
                     <div class="col-md-3" *ngIf="!loading">
                        <button  mat-raised-button class="btn-basic  btn-general float-right" (click)="cancel()">CANCELAR</button>
                     </div>
                  </div>
                </form>


             </div>


            </div>
          </div>
    </mat-sidenav-container>

    <!-- <app-side-nav></app-side-nav> -->


</ng-container>
