.mat-tab-labels{  
    background: #014291 !important;
}
.bg-tab{
    background: red;
}
.cont-tree{
    position: absolute;
    width: -webkit-fill-available;
}
.child-tree{
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
    padding-left: 10px !important;
}
.color-purple{
    color: #A03781;
}

.menu-filter{
    width: 500px;
}

.mat-tree-cont {
    width: 300px !important;
}
.filter{
    border: 2px solid #D8D8D8;
    border-radius: 4px;
    opacity: 1;
    width: 100%;
    text-align: left;
}