<div class="row">
    <div class="col-md-1">
        <div class="ready-point"></div>
    </div>
    <div class="col-md-11">
        <div class="row">
            <div class="col-md-2">
                <p>12/07/2021 - 20:00:04</p>
            </div>
            <div class="col-md-2">
                <p>ELLA</p>
            </div>
            <div class="col-md-2">
                <p #tooltip="matTooltip"
                matTooltip="Registro"
                matTooltipPosition="above">
                90876523</p>
            </div>
            <div class="col-md-2">
                <p #tooltip="matTooltip"
                matTooltip="Medición"
                matTooltipPosition="above">Cáncer de mama</p>
            </div>
            <div class="col-md-2">
                <p #tooltip="matTooltip"
                matTooltip="Entidad"
                matTooltipPosition="above">Supersalud</p>
            </div>
            <div class="col-md-2">
                <p #tooltip="matTooltip"
                matTooltip="Ciudad"
                matTooltipPosition="above">Bogotá</p>
            </div>
        </div>
    </div>

</div>