.cont-tree {
  position: absolute;
  width: -webkit-fill-available;
}
.child-tree {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  padding-left: 10px !important;
}
.color-purple {
  color: #a03781;
}

.mat-progress-bar {
  display: block;
  height: 15px !important;
  overflow: hidden;
  position: relative;
  transition: opacity 250ms linear;
  width: 100%;
}

.mat-progress-bar-buffer {
  background-color: #a03781 !important;
}

.mat-progress-bar-background {
  fill: #a03781 !important;
}

.button-import {
  background: #a03781;
}
.button-ver {
  text-decoration: underline !important;
  top: -5px;
}
.menu-filter {
  width: 500px;
}

.mat-tree-cont {
  width: 300px !important;
}
.filter {
  border: 2px solid #d8d8d8;
  border-radius: 4px;
  opacity: 1;
  width: 100%;
  text-align: left;
}
.title {
  font-size: 20px;
  background-color: #575757;
  color: #fff;
  font-weight: 500;
}
.titulo {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding-left: 30px !important;
  
}

.text-title {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding-left: 30px !important;
  height: 70px;
}
.subtext-title {
  color: #fff;
  display: inline;
  font-weight: 100;
}
.card-body {
  padding-top: 0px;
}
.subtitle {
  font-size: 20px;
  background-color: #e9e9e9;
  color: #575757;
  padding-top: 10px !important;
  padding-bottom: 5px !important;
  padding-left: 30px !important;
  height: 65px;
  margin-bottom: 10px;
  display: block;
  overflow-x: overlay;
  white-space: nowrap;
}
.contenedor > .row > .col-md-2 {
  display: inline-block;
}

.text-subtitle {
  height: 50px;
}
.text-subtitle-a {
  font-size: 13px;
  color: #a03781;
  text-decoration: underline;
  margin: inherit;
  font-weight: 500;
  cursor: pointer;
}

.text-subtitle-b {
  font-size: 12px;
  color: #7e84a3;
  cursor: pointer;
}

.table-striped {
  width: 100%; 
}
.mat-table {
  overflow-x: scroll;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.mat-row,
.mat-header-row {
  display: table-row;
}

.table-striped th {
  background: #fafafa;
}
.table-striped tr:hover td {
  cursor: pointer;
  background: #dfdfdf !important;
  font-weight: 500;
}

.table-striped td {
  background: #fafafa;
}

.table-striped tr:nth-child(even) td {
  background: #f7f8fc;
}
.table-striped tr:nth-child(odd) td {
  background: #fff;
}

.centrar {
  text-align: center;
}
.row-cursor {
  color: #666666;
}

.color-ico {
  color: #b9c5d4;
}
::ng-deep .mat-sort-header-arrow {
  color: #fff;
}
::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-ripple
  .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #a03781 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #a03781;
}

::ng-deep .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #a03781 !important;
}

.p-subtitle {
  font-weight: 500;
  font-size: 15px;
  margin-right: 10px;
}
.selectAuditor {
  display: inline-block;
  font-size: 12px;
  width: 95%;
}
.info {
  padding-bottom: 10px;
  padding-left: 18px;
 
}
.fuente {
  font-weight: 500;
}

.centrar {
  text-align: center !important;
}
::ng-deep .mat-form-field-flex {
  background: white !important;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #a94785 !important;
  border-color: #a94785 !important;
}

.state-button {
  width: 100%;
}

.text-center {
  text-align: center;
}
.tabla-over {
  overflow: auto; 
  height: 400px;
  min-width: 920px;
}
.btn-guardar {
  top: -5px;
  left: -50px;
}

.aCustom {
  color: white;
  font-size: 13px;
}

.mat-drawer-inner-container { 
  overflow-x: hidden !important; 
}

.elementdisabled,
.btn[disabled],
fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=80);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.4;
    cursor: not-allowed;  
}