mat-divider{
    display: block;
    margin: 5px 9px;
    border-top-width: 1px;
    border-top-color: #2565b3;
    border-top-style: solid;
    width: 65%;
}
mat-icon{
    cursor: pointer;
}
.col-md-12{
    margin: 10px 0px;
}