<div class="tab-modal">
    <div class="row">
        <div class="col-md-12">
            <mat-icon
                matTooltip="Reportar error"
                matTooltipPosition="left"
                >report_problem_outline</mat-icon>
        </div>
        <mat-divider></mat-divider>
        <div class="col-md-12">
            <mat-icon
                matTooltip="Soportes"
                matTooltipPosition="left"
                            >folder_open</mat-icon>
        </div>
        <mat-divider></mat-divider>
        <div class="col-md-12">
            <mat-icon
                matTooltip="Detalles"
                matTooltipPosition="left"
                            >assignment</mat-icon>
        </div>
        <mat-divider></mat-divider>
        <div class="col-md-12">
            <mat-icon
                matTooltip="Contacto lider"
                matTooltipPosition="left"
                            >quiz</mat-icon>
        </div>
        <mat-divider></mat-divider>
        <div class="col-md-12">
            <mat-icon
                matTooltip="Califica IPS"
                matTooltipPosition="left"
                            >star_rate</mat-icon>
        </div>
        <mat-divider></mat-divider>
        <div class="col-md-12">
            <mat-icon
                matTooltip="Banco info"
                matTooltipPosition="left"
                            >bookmark</mat-icon>
        </div>
       
    </div>
    
</div>